In [1]:
import pandas as pd
df = pd.read_csv('/Users/pascalsommer/neue fische stuff/capstone_final/csv/weather_city.csv')

In [2]:
df_hamburg = df.query('city == "hamburg"')
hamburg_year_tavg = round(sum(df_hamburg['tavg'])/60, 1)
hamburg_year_tsun = sum(df_hamburg['tsun'])/5
hamburg_year_rain_days = round(sum(df_hamburg['rain_days'])/5, 1)
hamburg_year_no_rain_days = round(sum(df_hamburg['day_without_rain'])/5, 1)
hamburg_year_rain_days_percent = round((sum(df_hamburg['rain_days'])/(sum(df_hamburg['rain_days'])+sum(df_hamburg['day_without_rain'])))*100, 2)
hamburg_year_no_rain_days_percent = 100-hamburg_year_rain_days_percent
hamburg_year_snow_days = round(sum(df_hamburg['snow_days'])/5, 1)
hamburg_year_no_snow_days = round(sum(df_hamburg['days_without_snow'])/5, 1)
hamburg_year_snow_days_percent = round((sum(df_hamburg['snow_days'])/(sum(df_hamburg['rain_days'])+sum(df_hamburg['days_without_snow'])))*100, 2)
hamburg_year_no_snow_days_percent = 100-hamburg_year_snow_days_percent

In [3]:
df_muenchen = df.query('city == "muenchen"')
muenchen_year_tavg = round(sum(df_muenchen['tavg'])/60, 1)

muenchen_year_rain_days = round(sum(df_muenchen['rain_days'])/5, 1)
muenchen_year_no_rain_days = round(sum(df_muenchen['day_without_rain'])/5, 1)
muenchen_year_rain_days_percent = round((sum(df_muenchen['rain_days'])/(sum(df_muenchen['rain_days'])+sum(df_muenchen['day_without_rain'])))*100, 2)
muenchen_year_no_rain_days_percent = 100-muenchen_year_rain_days_percent
muenchen_year_snow_days = round(sum(df_muenchen['snow_days'])/5, 1)
muenchen_year_no_snow_days = round(sum(df_muenchen['days_without_snow'])/5, 1)
muenchen_year_snow_days_percent = round((sum(df_muenchen['snow_days'])/(sum(df_muenchen['rain_days'])+sum(df_muenchen['days_without_snow'])))*100, 2)
muenchen_year_no_snow_days_percent = 100-muenchen_year_snow_days_percent

In [4]:
df_koeln = df.query('city == "koeln"')
koeln_year_tavg = round(sum(df_koeln['tavg'])/60, 1)

koeln_year_rain_days = round(sum(df_koeln['rain_days'])/5, 1)
koeln_year_no_rain_days = round(sum(df_koeln['day_without_rain'])/5, 1)
koeln_year_rain_days_percent = round((sum(df_koeln['rain_days'])/(sum(df_koeln['rain_days'])+sum(df_koeln['day_without_rain'])))*100, 2)
koeln_year_no_rain_days_percent = 100-koeln_year_rain_days_percent
koeln_year_snow_days = round(sum(df_koeln['snow_days'])/5, 1)
koeln_year_no_snow_days = round(sum(df_koeln['days_without_snow'])/5, 1)
koeln_year_snow_days_percent = round((sum(df_koeln['snow_days'])/(sum(df_koeln['rain_days'])+sum(df_koeln['days_without_snow'])))*100, 2)
koeln_year_no_snow_days_percent = 100-koeln_year_snow_days_percent

In [5]:
df_frankfurt_am_main = df.query('city == "frankfurt am main"')
frankfurt_am_main_year_tavg = round(sum(df_frankfurt_am_main['tavg'])/60, 1)

frankfurt_am_main_year_rain_days = round(sum(df_frankfurt_am_main['rain_days'])/5, 1)
frankfurt_am_main_year_no_rain_days = round(sum(df_frankfurt_am_main['day_without_rain'])/5, 1)
frankfurt_am_main_year_rain_days_percent = round((sum(df_frankfurt_am_main['rain_days'])/(sum(df_frankfurt_am_main['rain_days'])+sum(df_frankfurt_am_main['day_without_rain'])))*100, 2)
frankfurt_am_main_year_no_rain_days_percent = 100-frankfurt_am_main_year_rain_days_percent
frankfurt_am_main_year_snow_days = round(sum(df_frankfurt_am_main['snow_days'])/5, 1)
frankfurt_am_main_year_no_snow_days = round(sum(df_frankfurt_am_main['days_without_snow'])/5, 1)
frankfurt_am_main_year_snow_days_percent = round((sum(df_frankfurt_am_main['snow_days'])/(sum(df_frankfurt_am_main['rain_days'])+sum(df_frankfurt_am_main['days_without_snow'])))*100, 2)
frankfurt_am_main_year_no_snow_days_percent = 100-frankfurt_am_main_year_snow_days_percent

In [6]:
df_berlin = df.query('city == "berlin"')
berlin_year_tavg = round(sum(df_berlin['tavg'])/60, 1)

berlin_year_rain_days = round(sum(df_berlin['rain_days'])/5, 1)
berlin_year_no_rain_days = round(sum(df_berlin['day_without_rain'])/5, 1)
berlin_year_rain_days_percent = round((sum(df_berlin['rain_days'])/(sum(df_berlin['rain_days'])+sum(df_berlin['day_without_rain'])))*100, 2)
berlin_year_no_rain_days_percent = 100-berlin_year_rain_days_percent
berlin_year_snow_days = round(sum(df_berlin['snow_days'])/5, 1)
berlin_year_no_snow_days = round(sum(df_berlin['days_without_snow'])/5, 1)
berlin_year_snow_days_percent = round((sum(df_berlin['snow_days'])/(sum(df_berlin['rain_days'])+sum(df_berlin['days_without_snow'])))*100, 2)
berlin_year_no_snow_days_percent = 100-berlin_year_snow_days_percent

In [7]:
df_year = pd.DataFrame(columns = ['city', 'tavg_year','tsun_year', 'rain_days_year', 'rain_days_year_percent', 'no_rain_days_year', 'no_rain_days_year_percent', 'snow_days_year', 'snow_days_year_percent', 'no_snow_days_year', 'no_snow_days_percent', 'lat', 'lon'])

In [8]:
df_year['country'] = ['Deutschland', 'Deutschland', 'Deutschland', 'Deutschland', 'Deutschland',]
df_year['city'] = ['hamburg', 'muenchen', 'koeln', 'frankfurt am main', 'berlin']
df_year['tsun_year'] = [4.6, 5.3, 4.6, 5.2, 5.0] #got those values from the weather_api notebook via changing the .mean to .sum and changing the groupby from "M" to "Y" and aggregating to daily avg over 5 years
df_year['tavg_year'] = [hamburg_year_tavg, muenchen_year_tavg, koeln_year_tavg, frankfurt_am_main_year_tavg, berlin_year_tavg]
df_year['rain_days_year'] = [hamburg_year_rain_days, muenchen_year_rain_days, koeln_year_rain_days, frankfurt_am_main_year_rain_days, berlin_year_rain_days]
df_year['rain_days_year_percent'] = [hamburg_year_rain_days_percent, muenchen_year_rain_days_percent, koeln_year_rain_days_percent, frankfurt_am_main_year_rain_days_percent, berlin_year_rain_days_percent]
df_year['no_rain_days_year'] = [hamburg_year_no_rain_days, muenchen_year_no_rain_days, koeln_year_no_rain_days, frankfurt_am_main_year_no_rain_days, berlin_year_no_rain_days]
df_year['no_rain_days_year_percent'] = [hamburg_year_no_rain_days_percent, muenchen_year_no_rain_days_percent, koeln_year_no_rain_days_percent, frankfurt_am_main_year_no_rain_days_percent, berlin_year_no_rain_days_percent]
df_year['snow_days_year'] = [hamburg_year_snow_days, muenchen_year_snow_days, koeln_year_snow_days, frankfurt_am_main_year_snow_days, berlin_year_snow_days]
df_year['snow_days_year_percent'] = [hamburg_year_snow_days_percent, muenchen_year_snow_days_percent, koeln_year_snow_days_percent, frankfurt_am_main_year_snow_days_percent, berlin_year_snow_days_percent]
df_year['no_snow_days_year'] = [hamburg_year_no_snow_days, muenchen_year_no_snow_days, koeln_year_no_snow_days, frankfurt_am_main_year_no_snow_days, berlin_year_no_snow_days]
df_year['no_snow_days_percent'] = [hamburg_year_no_snow_days_percent, muenchen_year_no_snow_days_percent, koeln_year_no_snow_days_percent, frankfurt_am_main_year_no_snow_days_percent, berlin_year_no_snow_days_percent]
df_year['lat'] = [53.550556, 48.137154, 50.936389, 50.116667, 52.518611]
df_year['lon']= [9.993333, 11.576124, 6.952778, 8.683333, 13.408333]

In [9]:
df_year

,city,tavg_year,tsun_year,rain_days_year,rain_days_year_percent,no_rain_days_year,no_rain_days_year_percent,snow_days_year,snow_days_year_percent,no_snow_days_year,no_snow_days_percent,lat,lon,country
0,hamburg,10.3,4.6,82.6,22.62,282.6,77.38,10.2,2.33,355.0,97.67,53.550556,9.993333,Deutschland
1,muenchen,9.0,5.3,84.0,23.00,281.2,77.00,40.6,9.94,324.6,90.06,48.137154,11.576124,Deutschland
2,koeln,12.2,4.6,84.8,23.22,280.4,76.78,5.0,1.12,360.2,98.88,50.936389,6.952778,Deutschland
3,frankfurt am main,12.1,5.2,71.6,19.61,293.6,80.39,5.0,1.16,360.2,98.84,50.116667,8.683333,Deutschland
4,berlin,10.9,5.0,68.0,18.62,297.2,81.38,6.8,1.59,358.4,98.41,52.518611,13.408333,Deutschland

In [10]:
points=[]
min = 5
max= 13
for i in df_year['tavg_year']:
    if i >= min and i <= min+((max-min)*0.1):
        points.append(1)
    elif i > min+((max-min)*0.1) and i <= min+((max-min)*0.2):
        points.append(2)
    elif i > min+((max-min)*0.2) and i <= min+((max-min)*0.3):
        points.append(3)
    elif i > min+((max-min)*0.3) and i <= min+((max-min)*0.4):
        points.append(4)
    elif i > min+((max-min)*0.4) and i <= min+((max-min)*0.5):
        points.append(5)
    elif i > min+((max-min)*0.5) and i <= min+((max-min)*0.6):
        points.append(6)
    elif i > min+((max-min)*0.6) and i <= min+((max-min)*0.7):
        points.append(7)
    elif i > min+((max-min)*0.7) and i <= min+((max-min)*0.8):
        points.append(8)
    elif i > min+((max-min)*0.8) and i <= min+((max-min)*0.9):
        points.append(9)
    elif i > min+((max-min)*0.9) and i <= min+((max-min)):
        points.append(10)
df_year['tavg_points']=points

In [11]:
points=[]
min = 4
max= 6
for i in df_year['tsun_year']:
    if i >= min and i <= min+((max-min)*0.1):
        points.append(1)
    elif i > min+((max-min)*0.1) and i <= min+((max-min)*0.2):
        points.append(2)
    elif i > min+((max-min)*0.2) and i <= min+((max-min)*0.3):
        points.append(3)
    elif i > min+((max-min)*0.3) and i <= min+((max-min)*0.4):
        points.append(4)
    elif i > min+((max-min)*0.4) and i <= min+((max-min)*0.5):
        points.append(5)
    elif i > min+((max-min)*0.5) and i <= min+((max-min)*0.6):
        points.append(6)
    elif i > min+((max-min)*0.6) and i <= min+((max-min)*0.7):
        points.append(7)
    elif i > min+((max-min)*0.7) and i <= min+((max-min)*0.8):
        points.append(8)
    elif i > min+((max-min)*0.8) and i <= min+((max-min)*0.9):
        points.append(9)
    elif i > min+((max-min)*0.9) and i <= min+((max-min)):
        points.append(10)
df_year['tsun_points']=points

In [12]:
# less rain = better because nobody washes their car on days where it's raining (they rather wash when it does not rain or there are periods without rain)
points=[]
min = 50
max= 100
for i in df_year['rain_days_year']:
    if i >= min and i <= min+((max-min)*0.1):
        points.append(10)
    elif i > min+((max-min)*0.1) and i <= min+((max-min)*0.2):
        points.append(9)
    elif i > min+((max-min)*0.2) and i <= min+((max-min)*0.3):
        points.append(8)
    elif i > min+((max-min)*0.3) and i <= min+((max-min)*0.4):
        points.append(7)
    elif i > min+((max-min)*0.4) and i <= min+((max-min)*0.5):
        points.append(6)
    elif i > min+((max-min)*0.5) and i <= min+((max-min)*0.6):
        points.append(5)
    elif i > min+((max-min)*0.6) and i <= min+((max-min)*0.7):
        points.append(4)
    elif i > min+((max-min)*0.7) and i <= min+((max-min)*0.8):
        points.append(3)
    elif i > min+((max-min)*0.8) and i <= min+((max-min)*0.9):
        points.append(2)
    elif i > min+((max-min)*0.9) and i <= min+((max-min)):
        points.append(1)
df_year['raindays_points']=points

In [13]:
# less snow = better because nobody washes their car on days where it's snowing (they rather wash when it does not rain or there are periods without snow)
points=[]
min = 5
max= 50
for i in df_year['snow_days_year']:
    if i >= min and i <= min+((max-min)*0.1):
        points.append(10)
    elif i > min+((max-min)*0.1) and i <= min+((max-min)*0.2):
        points.append(9)
    elif i > min+((max-min)*0.2) and i <= min+((max-min)*0.3):
        points.append(8)
    elif i > min+((max-min)*0.3) and i <= min+((max-min)*0.4):
        points.append(7)
    elif i > min+((max-min)*0.4) and i <= min+((max-min)*0.5):
        points.append(6)
    elif i > min+((max-min)*0.5) and i <= min+((max-min)*0.6):
        points.append(5)
    elif i > min+((max-min)*0.6) and i <= min+((max-min)*0.7):
        points.append(4)
    elif i > min+((max-min)*0.7) and i <= min+((max-min)*0.8):
        points.append(3)
    elif i > min+((max-min)*0.8) and i <= min+((max-min)*0.9):
        points.append(2)
    elif i > min+((max-min)*0.9) and i <= min+((max-min)):
        points.append(1)
df_year['snowdays_points']=points

In [14]:
df_year

,city,tavg_year,tsun_year,rain_days_year,rain_days_year_percent,no_rain_days_year,no_rain_days_year_percent,snow_days_year,snow_days_year_percent,no_snow_days_year,no_snow_days_percent,lat,lon,country,tavg_points,tsun_points,raindays_points,snowdays_points
0,hamburg,10.3,4.6,82.6,22.62,282.6,77.38,10.2,2.33,355.0,97.67,53.550556,9.993333,Deutschland,7,3,4,9
1,muenchen,9.0,5.3,84.0,23.00,281.2,77.00,40.6,9.94,324.6,90.06,48.137154,11.576124,Deutschland,5,7,4,3
2,koeln,12.2,4.6,84.8,23.22,280.4,76.78,5.0,1.12,360.2,98.88,50.936389,6.952778,Deutschland,9,3,4,10
3,frankfurt am main,12.1,5.2,71.6,19.61,293.6,80.39,5.0,1.16,360.2,98.84,50.116667,8.683333,Deutschland,9,6,6,10
4,berlin,10.9,5.0,68.0,18.62,297.2,81.38,6.8,1.59,358.4,98.41,52.518611,13.408333,Deutschland,8,5,7,10

In [15]:
# # Export to csv
df_year.to_csv('weather_city_year_with_points.csv', index=False)