# Weather API

## Import Toolkit

In [1]:
import pandas as pd
import pandas as pd
import numpy as np
import psycopg2
import requests #package for getting data from the web
from sql import engine #adjust this as necessary to match your sql.py connection methods
from datetime import datetime
import json
from sql import query #get_data = query
from meteostat import Point, Daily
from meteostat import Stations

## Get the weather via meteostat library

### All Cities
---

In [2]:
# List of the Latitude and Longetude from our selected Cities (Hamburg, Berlin, Cologne, Frankfurt, Munich)
lat = [53.550556, 52.518611, 50.936389, 50.116667,48.137154 ]
lon = [9.993333 ,13.408333 ,6.952778 ,8.683333, 11.576124]

# Empty dataframe where our weather data about every city comes in
weather_city = pd.DataFrame([])

# Start and end date of the period being analyzed
start = datetime(2017, 1, 1)
end = datetime(2021, 12, 31)

# For loop to add the lat and lon from each city via zip command to get our dataframe
for l1, l2 in zip(lat, lon):
    city_point = Point(l1, l2)

#In the loop to get daily data for each city
    weather_data = Daily(city_point, start, end)
#In the loop to query the data from the api    
    weather_data = weather_data.fetch()
#In the loop to build new colum for Latitude and Longetude each to get the values
    weather_data['lat'] = l1
    weather_data['lon'] = l2
    
# Reset the index
    weather_data.reset_index(level = 0, inplace=True) 


#Append the values to our final Dataframe
    weather_city = weather_city.append(weather_data)

# Dataframe about weather data in each city
weather_city

,time,tavg,tmin,tmax,prcp,snow,wdir,wspd,wpgt,pres,tsun,lat,lon
0,2017-01-01,3.5,1.8,4.4,1.6,0.0,241.2,19.1,38.9,1015.8,0.0,53.550556,9.993333
1,2017-01-02,1.9,0.2,3.3,2.6,0.0,275.2,11.9,41.4,1016.8,240.0,53.550556,9.993333
2,2017-01-03,4.6,2.1,7.5,25.1,0.0,259.5,24.5,80.3,1012.6,0.0,53.550556,9.993333
3,2017-01-04,3.6,-1.3,6.1,0.3,0.0,312.7,30.2,78.5,1005.6,174.0,53.550556,9.993333
4,2017-01-05,-3.6,-9.6,-1.0,0.0,0.0,11.6,12.2,38.2,1031.3,426.0,53.550556,9.993333
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1821,2021-12-27,4.6,2.1,9.4,3.2,0.0,109.7,5.4,22.0,1005.6,193.0,48.137154,11.576124
1822,2021-12-28,6.4,3.7,9.8,9.4,0.0,203.6,13.0,69.1,1002.9,2.0,48.137154,11.576124
1823,2021-12-29,8.1,6.9,11.2,11.0,0.0,249.3,18.0,60.1,1009.9,138.0,48.137154,11.576124
1824,2021-12-30,12.2,10.9,13.9,0.7,0.0,250.8,16.9,48.2,1019.9,21.0,48.137154,11.576124
1825,2021-12-31,12.3,10.3,15.6,0.0,0.0,238.9,10.1,35.6,1023.6,429.0,48.137154,11.576124

### Hamburg

#### The Weather Data for Hamburg

In [3]:
# List of the Latitude and Longetude Hamburg
lat_HH = [53.550556]
lon_HH = [9.993333]

# Empty dataframe where our weather data about every city comes in
weather_HH = pd.DataFrame([])

# Start and end date of the period being analyzed
start = datetime(2017, 1, 1)
end = datetime(2021, 12, 31)

# For loop to add the lat and lon from each city via zip command to get our dataframe
for l1, l2 in zip(lat_HH, lon_HH):
    city_point_HH = Point(l1, l2)

#In the loop to get daily data for each city
    weather_HH_data = Daily(city_point_HH, start, end)
#In the loop to query the data from the api    
    weather_HH_data = weather_HH_data.fetch()
#In the loop to build new colum for Latitude and Longetude each to get the values
    weather_HH_data['lat'] = l1
    weather_HH_data['lon'] = l2
# Reset the index
    weather_HH_data.reset_index(level = 0, inplace=True) 


#Append the values to our final Dataframe
    weather_HH = weather_HH.append(weather_HH_data)

# Dataframe about weather data in each city
weather_HH

,time,tavg,tmin,tmax,prcp,snow,wdir,wspd,wpgt,pres,tsun,lat,lon
0,2017-01-01,3.5,1.8,4.4,1.6,0.0,241.2,19.1,38.9,1015.8,0.0,53.550556,9.993333
1,2017-01-02,1.9,0.2,3.3,2.6,0.0,275.2,11.9,41.4,1016.8,240.0,53.550556,9.993333
2,2017-01-03,4.6,2.1,7.5,25.1,0.0,259.5,24.5,80.3,1012.6,0.0,53.550556,9.993333
3,2017-01-04,3.6,-1.3,6.1,0.3,0.0,312.7,30.2,78.5,1005.6,174.0,53.550556,9.993333
4,2017-01-05,-3.6,-9.6,-1.0,0.0,0.0,11.6,12.2,38.2,1031.3,426.0,53.550556,9.993333
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1821,2021-12-27,-2.6,-5.9,0.9,0.0,0.0,119.2,17.3,32.0,1004.7,0.0,53.550556,9.993333
1822,2021-12-28,1.8,0.8,2.7,2.2,0.0,124.6,15.8,32.8,995.9,0.0,53.550556,9.993333
1823,2021-12-29,3.1,1.4,6.2,0.6,0.0,180.3,5.8,19.1,1003.3,0.0,53.550556,9.993333
1824,2021-12-30,9.9,5.9,12.3,4.8,0.0,232.2,17.6,46.8,1009.3,0.0,53.550556,9.993333
1825,2021-12-31,12.3,11.4,13.6,9.6,0.0,248.3,22.3,50.0,1012.8,0.0,53.550556,9.993333

#### Aggregated weather columns Hamburg

##### Average temperature for each month from 2017 until the end of 2021

In [4]:
# Groupby date and set it to a month period then get the avg. temp
weather_HH_t = weather_HH.groupby(pd.PeriodIndex(weather_HH['time'], freq="M"))['tavg'].mean()


# put the series above in a dataframe
weather_HH_temp = pd.DataFrame(weather_HH_t)

# add the lat and lon to the new table for joining later with the other aggregated weather functions
weather_HH_temp['lat'] = 53.550556
weather_HH_temp['lon'] = 9.993333
weather_HH_temp['city'] = 'hamburg'

# reset the index
weather_HH_temp = weather_HH_temp.reset_index()

In [5]:
# Rename columns
weather_HH_temp.rename(columns = {"time":"date"}, inplace=True)

In [6]:
# print all for test 
weather_HH_temp

       date       tavg        lat       lon     city
0   2017-01   0.512903  53.550556  9.993333  hamburg
1   2017-02   2.753571  53.550556  9.993333  hamburg
2   2017-03   7.135484  53.550556  9.993333  hamburg
3   2017-04   7.436667  53.550556  9.993333  hamburg
4   2017-05  13.922581  53.550556  9.993333  hamburg
5   2017-06  16.590000  53.550556  9.993333  hamburg
6   2017-07  17.022581  53.550556  9.993333  hamburg
7   2017-08  17.061290  53.550556  9.993333  hamburg
8   2017-09  13.786667  53.550556  9.993333  hamburg
9   2017-10  11.932258  53.550556  9.993333  hamburg
10  2017-11   6.173333  53.550556  9.993333  hamburg
11  2017-12   4.045161  53.550556  9.993333  hamburg
12  2018-01   3.538710  53.550556  9.993333  hamburg
13  2018-02  -0.871429  53.550556  9.993333  hamburg
14  2018-03   2.045161  53.550556  9.993333  hamburg
15  2018-04  11.366667  53.550556  9.993333  hamburg
16  2018-05  16.770968  53.550556  9.993333  hamburg
17  2018-06  17.643333  53.550556  9.993333  hamburg
18  2018-07  20.045161  53.550556  9.993333  hamburg
19  2018-08  19.396774  53.550556  9.993333  hamburg
20  2018-09  15.223333  53.550556  9.993333  hamburg
21  2018-10  11.432258  53.550556  9.993333  hamburg
22  2018-11   6.006667  53.550556  9.993333  hamburg
23  2018-12   5.419355  53.550556  9.993333  hamburg
24  2019-01   2.187097  53.550556  9.993333  hamburg
25  2019-02   5.289286  53.550556  9.993333  hamburg
26  2019-03   7.019355  53.550556  9.993333  hamburg
27  2019-04   9.850000  53.550556  9.993333  hamburg
28  2019-05  11.145161  53.550556  9.993333  hamburg
29  2019-06  19.063333  53.550556  9.993333  hamburg
30  2019-07  18.070968  53.550556  9.993333  hamburg
31  2019-08  18.977419  53.550556  9.993333  hamburg
32  2019-09  14.336667  53.550556  9.993333  hamburg
33  2019-10  10.783871  53.550556  9.993333  hamburg
34  2019-11   5.986667  53.550556  9.993333  hamburg
35  2019-12   5.016129  53.550556  9.993333  hamburg
36  2020-01   5.345161  53.550556  9.993333  hamburg
37  2020-02   5.865517  53.550556  9.993333  hamburg
38  2020-03   5.677419  53.550556  9.993333  hamburg
39  2020-04   9.563333  53.550556  9.993333  hamburg
40  2020-05  11.696774  53.550556  9.993333  hamburg
41  2020-06  17.633333  53.550556  9.993333  hamburg
42  2020-07  16.190323  53.550556  9.993333  hamburg
43  2020-08  20.351613  53.550556  9.993333  hamburg
44  2020-09  14.520000  53.550556  9.993333  hamburg
45  2020-10  11.100000  53.550556  9.993333  hamburg
46  2020-11   7.663333  53.550556  9.993333  hamburg
47  2020-12   4.148387  53.550556  9.993333  hamburg
48  2021-01   1.693548  53.550556  9.993333  hamburg
49  2021-02   2.017857  53.550556  9.993333  hamburg
50  2021-03   5.261290  53.550556  9.993333  hamburg
51  2021-04   6.140000  53.550556  9.993333  hamburg
52  2021-05  10.706452  53.550556  9.993333  hamburg
53  2021-06  18.936667  53.550556  9.993333  hamburg
54  2021-07  19.345161  53.550556  9.993333  hamburg
55  2021-08  16.461290  53.550556  9.993333  hamburg
56  2021-09  15.446667  53.550556  9.993333  hamburg
57  2021-10  11.116129  53.550556  9.993333  hamburg
58  2021-11   6.900000  53.550556  9.993333  hamburg
59  2021-12   2.841935  53.550556  9.993333  hamburg

##### Average sunmin for each month from 2017 until the end of 2021

In [7]:
# Groupby date and set it to a month period then get the avg. sunhours
weather_HH_s = weather_HH.groupby(pd.PeriodIndex(weather_HH['time'], freq="M"))['tsun'].mean()

# put the series above in a dataframe
weather_HH_sunh = pd.DataFrame(weather_HH_s)

# reset the index
weather_HH_sunh = weather_HH_sunh.reset_index()

In [8]:
# Rename columns
weather_HH_sunh.rename(columns = {"time":"date"}, inplace=True)

In [9]:
weather_HH_sunh

       date        tsun
0   2017-01  118.645161
1   2017-02  110.357143
2   2017-03  260.129032
3   2017-04  305.600000
4   2017-05  407.645161
5   2017-06  448.600000
6   2017-07  349.709677
7   2017-08  372.322581
8   2017-09  253.000000
9   2017-10  171.612903
10  2017-11   68.566667
11  2017-12   47.806452
12  2018-01   53.903226
13  2018-02  268.750000
14  2018-03  222.193548
15  2018-04  383.333333
16  2018-05  660.290323
17  2018-06  409.666667
18  2018-07  615.064516
19  2018-08  417.258065
20  2018-09  348.533333
21  2018-10  299.258065
22  2018-11  139.500000
23  2018-12   35.838710
24  2019-01   83.483871
25  2019-02  245.714286
26  2019-03  148.935484
27  2019-04  516.333333
28  2019-05  366.129032
29  2019-06  545.000000
30  2019-07  358.451613
31  2019-08  436.322581
32  2019-09  271.133333
33  2019-10  210.322581
34  2019-11   99.900000
35  2019-12   79.516129
36  2020-01   68.419355
37  2020-02   90.241379
38  2020-03  336.838710
39  2020-04  580.966667
40  2020-05  448.741935
41  2020-06  541.133333
42  2020-07  367.677419
43  2020-08  492.838710
44  2020-09  394.833333
45  2020-10  133.903226
46  2020-11  133.500000
47  2020-12   46.258065
48  2021-01   64.032258
49  2021-02  190.642857
50  2021-03  237.806452
51  2021-04  396.400000
52  2021-05  271.645161
53  2021-06  503.600000
54  2021-07  392.387097
55  2021-08  278.354839
56  2021-09  250.000000
57  2021-10  225.903226
58  2021-11   76.866667
59  2021-12   61.709677

##### Count the monthly Raindays

In [10]:
# Filter the raindays and the not raindays
# Apply a function along an axis of the DataFrame
weather_HH["rain_days"] = weather_HH['prcp'].apply(lambda x: 'rainy_day' if x >= 2.5 else 'not_rainy_day')

In [11]:
# New variable with only the raindays
weather_HH_rainy = weather_HH[weather_HH["rain_days"]=='rainy_day']

# Group all rain days based on month from 2017 until 2021 and count all these days in a month
weather_HH_rainy = weather_HH_rainy.groupby(pd.PeriodIndex(weather_HH_rainy['time'], freq="M"))['rain_days'].value_counts()

# Put the new variable in a Dataframe
weather_HH_rainy = pd.DataFrame(weather_HH_rainy)

# drop the column level(s) - default is level=0 (We got here twice raindays but we only need the count raindays column so we drop the level= 0 column )
weather_HH_rainy = weather_HH_rainy.droplevel("rain_days")
weather_HH_rainy = weather_HH_rainy.reset_index()

In [12]:
# Rename columns
weather_HH_rainy.rename(columns = {"time":"date"}, inplace=True)

In [13]:
# print all for test 
weather_HH_rainy

       date  rain_days
0   2017-01          5
1   2017-02          6
2   2017-03          8
3   2017-04          7
4   2017-05          8
5   2017-06         10
6   2017-07         12
7   2017-08         10
8   2017-09          9
9   2017-10         14
10  2017-11          8
11  2017-12         10
12  2018-01         13
13  2018-02          2
14  2018-03          5
15  2018-04          6
16  2018-06          4
17  2018-07          3
18  2018-08          6
19  2018-09          2
20  2018-10          4
21  2018-11          4
22  2018-12         10
23  2019-01          8
24  2019-02          2
25  2019-03         12
26  2019-04          1
27  2019-05          5
28  2019-06          8
29  2019-07          4
30  2019-08          6
31  2019-09          9
32  2019-10         12
33  2019-11          8
34  2019-12          8
35  2020-01          8
36  2020-02         17
37  2020-03          7
38  2020-04          2
39  2020-05          3
40  2020-06          8
41  2020-07          9
42  2020-08          6
43  2020-09          4
44  2020-10          8
45  2020-11          1
46  2020-12          7
47  2021-01          9
48  2021-02          2
49  2021-03          6
50  2021-04          4
51  2021-05         15
52  2021-06          4
53  2021-07          5
54  2021-08         15
55  2021-09          5
56  2021-10          6
57  2021-11          7
58  2021-12          6

In [14]:
# New variable with only days without rain
weather_HH_notrain = weather_HH[weather_HH["rain_days"]=='not_rainy_day']

# Group all not rain days based on month from 2017 until 2021 and count all these days in a month
weather_HH_notrain = weather_HH_notrain.groupby(pd.PeriodIndex(weather_HH_notrain['time'], freq="M"))['rain_days'].value_counts()

# Put the new variable in a Dataframe
weather_HH_notrain = pd.DataFrame(weather_HH_notrain)

# drop the column level(s) - default is level=0 (We got here twice raindays but we only need the count raindays column so we drop the level= 0 column )
weather_HH_notrain = weather_HH_notrain.droplevel("rain_days")
weather_HH_notrain = weather_HH_notrain.reset_index()

In [15]:
# Rename columns
weather_HH_notrain.rename(columns = {"time":"date","rain_days":"day_without_rain"}, inplace=True)

In [16]:
# print for test
weather_HH_notrain

       date  day_without_rain
0   2017-01                26
1   2017-02                22
2   2017-03                23
3   2017-04                23
4   2017-05                23
5   2017-06                20
6   2017-07                19
7   2017-08                21
8   2017-09                21
9   2017-10                17
10  2017-11                22
11  2017-12                21
12  2018-01                18
13  2018-02                26
14  2018-03                26
15  2018-04                24
16  2018-05                31
17  2018-06                26
18  2018-07                28
19  2018-08                25
20  2018-09                28
21  2018-10                27
22  2018-11                26
23  2018-12                21
24  2019-01                23
25  2019-02                26
26  2019-03                19
27  2019-04                29
28  2019-05                26
29  2019-06                22
30  2019-07                27
31  2019-08                25
32  2019-09                21
33  2019-10                19
34  2019-11                22
35  2019-12                23
36  2020-01                23
37  2020-02                12
38  2020-03                24
39  2020-04                28
40  2020-05                28
41  2020-06                22
42  2020-07                22
43  2020-08                25
44  2020-09                26
45  2020-10                23
46  2020-11                29
47  2020-12                24
48  2021-01                22
49  2021-02                26
50  2021-03                25
51  2021-04                26
52  2021-05                16
53  2021-06                26
54  2021-07                26
55  2021-08                16
56  2021-09                25
57  2021-10                25
58  2021-11                23
59  2021-12                25

##### Count the monthly Snowdays

In [17]:
# Filter the snowdays and the not snowdays
# Apply: Apply a function along an axis of the DataFrame.
weather_HH["snow_days"] = weather_HH['snow'].apply(lambda x: 'snow_day' if x > 0 else 'not_snow_day')

In [18]:
# New variable with only days with snow
weather_HH_snowday = weather_HH[weather_HH["snow_days"]=='snow_day']

# Group all snowdays based on month from 2017 until 2021 and count all these days in a month
weather_HH_snowday = weather_HH_snowday.groupby(pd.PeriodIndex(weather_HH_snowday['time'], freq="M"))['snow_days'].value_counts()

# Put the new variable in a Dataframe
weather_HH_snowday = pd.DataFrame(weather_HH_snowday)

# drop the column level(s) - default is level=0 (We got here twice raindays but we only need the count raindays column so we drop the level= 0 column )
weather_HH_snowday = weather_HH_snowday.droplevel("snow_days")
weather_HH_snowday = weather_HH_snowday.reset_index()

In [19]:
weather_HH_snowday.rename(columns = {"time":"date"}, inplace=True)

In [20]:
# print for test
weather_HH_snowday

       date  snow_days
0   2017-01          3
1   2017-12          2
2   2018-01          3
3   2018-02          7
4   2018-03          6
5   2019-01          9
6   2020-03          2
7   2021-01          5
8   2021-02         12
9   2021-04          1
10  2021-12          1

In [21]:
# New variable with only days with snow
weather_HH_notsnowday = weather_HH[weather_HH["snow_days"]=='not_snow_day']

# Group all snowdays based on month from 2017 until 2021 and count all these days in a month
weather_HH_notsnowday = weather_HH_notsnowday.groupby(pd.PeriodIndex(weather_HH_notsnowday['time'], freq="M"))['snow_days'].value_counts()

# Put the new variable in a Dataframe
weather_HH_notsnowday = pd.DataFrame(weather_HH_notsnowday)

# drop the column level(s) - default is level=0 (We got here twice raindays but we only need the count raindays column so we drop the level= 0 column )
weather_HH_notsnowday = weather_HH_notsnowday.droplevel("snow_days")
weather_HH_notsnowday = weather_HH_notsnowday.reset_index()

In [22]:
weather_HH_notsnowday.rename(columns = {"time":"date","snow_days":"days_without_snow"}, inplace=True)

In [23]:
# print for test
weather_HH_notsnowday

       date  days_without_snow
0   2017-01                 28
1   2017-02                 28
2   2017-03                 31
3   2017-04                 30
4   2017-05                 31
5   2017-06                 30
6   2017-07                 31
7   2017-08                 31
8   2017-09                 30
9   2017-10                 31
10  2017-11                 30
11  2017-12                 29
12  2018-01                 28
13  2018-02                 21
14  2018-03                 25
15  2018-04                 30
16  2018-05                 31
17  2018-06                 30
18  2018-07                 31
19  2018-08                 31
20  2018-09                 30
21  2018-10                 31
22  2018-11                 30
23  2018-12                 31
24  2019-01                 22
25  2019-02                 28
26  2019-03                 31
27  2019-04                 30
28  2019-05                 31
29  2019-06                 30
30  2019-07                 31
31  2019-08                 31
32  2019-09                 30
33  2019-10                 31
34  2019-11                 30
35  2019-12                 31
36  2020-01                 31
37  2020-02                 29
38  2020-03                 29
39  2020-04                 30
40  2020-05                 31
41  2020-06                 30
42  2020-07                 31
43  2020-08                 31
44  2020-09                 30
45  2020-10                 31
46  2020-11                 30
47  2020-12                 31
48  2021-01                 26
49  2021-02                 16
50  2021-03                 31
51  2021-04                 29
52  2021-05                 31
53  2021-06                 30
54  2021-07                 31
55  2021-08                 31
56  2021-09                 30
57  2021-10                 31
58  2021-11                 30
59  2021-12                 30

##### Merge all tables together

In [24]:
#merge all tables on date
df_weather_HH = weather_HH_temp.merge(weather_HH_sunh, how='left' , on='date').merge(weather_HH_rainy,how='left', on='date').merge(weather_HH_notrain,how='left', on='date').merge(weather_HH_snowday,how='left',on="date").merge(weather_HH_notsnowday,how='left',on='date')

##### Last cleaning of the table

In [25]:
# Change the order
df_weather_HH = df_weather_HH[["date","tavg","tsun","rain_days","day_without_rain","snow_days","days_without_snow","city","lat","lon"]]

In [26]:
# To see the Datatypes that had to change (date to datetime, rain_days and snow_days to int as well as fill the NaN with 0)
df_weather_HH.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60 entries, 0 to 59
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               60 non-null     period[M]
 1   tavg               60 non-null     float64
 2   tsun               60 non-null     float64
 3   rain_days          59 non-null     float64
 4   day_without_rain   60 non-null     int64
 5   snow_days          11 non-null     float64
 6   days_without_snow  60 non-null     int64
 7   city               60 non-null     object
 8   lat                60 non-null     float64
 9   lon                60 non-null     float64
dtypes: float64(6), int64(2), object(1), period[M](1)
memory usage: 5.2+ KB

In [27]:
# clean the raindays column
# fill all nan with 0 to show that months on which the event did not take place are 0 
df_weather_HH["rain_days"] = df_weather_HH["rain_days"].fillna(0)

# Change it to an int
df_weather_HH["rain_days"] = df_weather_HH["rain_days"].astype('int')

# clean the snowdays column
# fill all nan with 0 to show that months on which the event did not take place are 0 
df_weather_HH["snow_days"] = df_weather_HH["snow_days"].fillna(0)

# Change it to an integer
df_weather_HH["snow_days"] = df_weather_HH["snow_days"].astype('int')

In [28]:
# To change the date from a period[M] to a datetime64[ns] 
df_weather_HH = df_weather_HH.set_index("date").to_timestamp().reset_index()

In [29]:
# Check if everything fits now
display(df_weather_HH.info())
display(df_weather_HH)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               60 non-null     datetime64[ns]
 1   tavg               60 non-null     float64
 2   tsun               60 non-null     float64
 3   rain_days          60 non-null     int64
 4   day_without_rain   60 non-null     int64
 5   snow_days          60 non-null     int64
 6   days_without_snow  60 non-null     int64
 7   city               60 non-null     object
 8   lat                60 non-null     float64
 9   lon                60 non-null     float64
dtypes: datetime64[ns](1), float64(4), int64(4), object(1)
memory usage: 4.8+ KB

None

,date,tavg,tsun,rain_days,day_without_rain,snow_days,days_without_snow,city,lat,lon
0,2017-01-01,0.512903,118.645161,5,26,3,28,hamburg,53.550556,9.993333
1,2017-02-01,2.753571,110.357143,6,22,0,28,hamburg,53.550556,9.993333
2,2017-03-01,7.135484,260.129032,8,23,0,31,hamburg,53.550556,9.993333
3,2017-04-01,7.436667,305.600000,7,23,0,30,hamburg,53.550556,9.993333
4,2017-05-01,13.922581,407.645161,8,23,0,31,hamburg,53.550556,9.993333
5,2017-06-01,16.590000,448.600000,10,20,0,30,hamburg,53.550556,9.993333
6,2017-07-01,17.022581,349.709677,12,19,0,31,hamburg,53.550556,9.993333
7,2017-08-01,17.061290,372.322581,10,21,0,31,hamburg,53.550556,9.993333
8,2017-09-01,13.786667,253.000000,9,21,0,30,hamburg,53.550556,9.993333
9,2017-10-01,11.932258,171.612903,14,17,0,31,hamburg,53.550556,9.993333
10,2017-11-01,6.173333,68.566667,8,22,0,30,hamburg,53.550556,9.993333
11,2017-12-01,4.045161,47.806452,10,21,2,29,hamburg,53.550556,9.993333
12,2018-01-01,3.538710,53.903226,13,18,3,28,hamburg,53.550556,9.993333
13,2018-02-01,-0.871429,268.750000,2,26,7,21,hamburg,53.550556,9.993333
14,2018-03-01,2.045161,222.193548,5,26,6,25,hamburg,53.550556,9.993333
15,2018-04-01,11.366667,383.333333,6,24,0,30,hamburg,53.550556,9.993333
16,2018-05-01,16.770968,660.290323,0,31,0,31,hamburg,53.550556,9.993333
17,2018-06-01,17.643333,409.666667,4,26,0,30,hamburg,53.550556,9.993333
18,2018-07-01,20.045161,615.064516,3,28,0,31,hamburg,53.550556,9.993333
19,2018-08-01,19.396774,417.258065,6,25,0,31,hamburg,53.550556,9.993333
20,2018-09-01,15.223333,348.533333,2,28,0,30,hamburg,53.550556,9.993333
21,2018-10-01,11.432258,299.258065,4,27,0,31,hamburg,53.550556,9.993333
22,2018-11-01,6.006667,139.500000,4,26,0,30,hamburg,53.550556,9.993333
23,2018-12-01,5.419355,35.838710,10,21,0,31,hamburg,53.550556,9.993333
24,2019-01-01,2.187097,83.483871,8,23,9,22,hamburg,53.550556,9.993333
25,2019-02-01,5.289286,245.714286,2,26,0,28,hamburg,53.550556,9.993333
26,2019-03-01,7.019355,148.935484,12,19,0,31,hamburg,53.550556,9.993333
27,2019-04-01,9.850000,516.333333,1,29,0,30,hamburg,53.550556,9.993333
28,2019-05-01,11.145161,366.129032,5,26,0,31,hamburg,53.550556,9.993333
29,2019-06-01,19.063333,545.000000,8,22,0,30,hamburg,53.550556,9.993333
30,2019-07-01,18.070968,358.451613,4,27,0,31,hamburg,53.550556,9.993333
31,2019-08-01,18.977419,436.322581,6,25,0,31,hamburg,53.550556,9.993333
32,2019-09-01,14.336667,271.133333,9,21,0,30,hamburg,53.550556,9.993333
33,2019-10-01,10.783871,210.322581,12,19,0,31,hamburg,53.550556,9.993333
34,2019-11-01,5.986667,99.900000,8,22,0,30,hamburg,53.550556,9.993333
35,2019-12-01,5.016129,79.516129,8,23,0,31,hamburg,53.550556,9.993333
36,2020-01-01,5.345161,68.419355,8,23,0,31,hamburg,53.550556,9.993333
37,2020-02-01,5.865517,90.241379,17,12,0,29,hamburg,53.550556,9.993333
38,2020-03-01,5.677419,336.838710,7,24,2,29,hamburg,53.550556,9.993333
39,2020-04-01,9.563333,580.966667,2,28,0,30,hamburg,53.550556,9.993333
40,2020-05-01,11.696774,448.741935,3,28,0,31,hamburg,53.550556,9.993333
41,2020-06-01,17.633333,541.133333,8,22,0,30,hamburg,53.550556,9.993333
42,2020-07-01,16.190323,367.677419,9,22,0,31,hamburg,53.550556,9.993333
43,2020-08-01,20.351613,492.838710,6,25,0,31,hamburg,53.550556,9.993333
44,2020-09-01,14.520000,394.833333,4,26,0,30,hamburg,53.550556,9.993333
45,2020-10-01,11.100000,133.903226,8,23,0,31,hamburg,53.550556,9.993333
46,2020-11-01,7.663333,133.500000,1,29,0,30,hamburg,53.550556,9.993333
47,2020-12-01,4.148387,46.258065,7,24,0,31,hamburg,53.550556,9.993333
48,2021-01-01,1.693548,64.032258,9,22,5,26,hamburg,53.550556,9.993333
49,2021-02-01,2.017857,190.642857,2,26,12,16,hamburg,53.550556,9.993333
50,2021-03-01,5.261290,237.806452,6,25,0,31,hamburg,53.550556,9.993333
51,2021-04-01,6.140000,396.400000,4,26,1,29,hamburg,53.550556,9.993333
52,2021-05-01,10.706452,271.645161,15,16,0,31,hamburg,53.550556,9.993333
53,2021-06-01,18.936667,503.600000,4,26,0,30,hamburg,53.550556,9.993333
54,2021-07-01,19.345161,392.387097,5,26,0,31,hamburg,53.550556,9.993333
55,2021-08-01,16.461290,278.354839,15,16,0,31,hamburg,53.550556,9.993333
56,2021-09-01,15.446667,250.000000,5,25,0,30,hamburg,53.550556,9.993333
57,2021-10-01,11.116129,225.903226,6,25,0,31,hamburg,53.550556,9.993333
58,2021-11-01,6.900000,76.866667,7,23,0,30,hamburg,53.550556,9.993333
59,2021-12-01,2.841935,61.709677,6,25,1,30,hamburg,53.550556,9.993333

#### Push the prepared data to a table in the database

In [30]:
# Specify which table within your database you want to push your data to. Give your table an unambiguous name.
table_name = 'df_weather_HH_test_JB2'
schema = 'muc_analytics_21_1'
# If the specified table doesn't exist yet, it will be created
# With 'replace', your data will be replaced if the table already exists.
# This will take a minute or two...

# Write records stored in a dataframe to SQL database
if engine!=None:
    try:
        df_weather_HH.to_sql(name=table_name, # Name of SQL table
                        con=engine, # Engine or connection
                        if_exists='replace', # Drop the table before inserting new values 
                        schema=schema, # Use schmea that was defined earlier
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_name} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None

The df_weather_HH_test_JB2 table was imported successfully.

---
### Berlin

#### The Weather Data for Berlin

In [31]:
# List of the Latitude and Longetude from our selected Cities (Hamburg, Berlin, Cologne, Frankfurt, Munich)
lat_B = [52.518611]
lon_B = [13.408333]

# Empty dataframe where our weather data about every city comes in
weather_B = pd.DataFrame([])

# Start and end date of the period being analyzed
start = datetime(2017, 1, 1)
end = datetime(2021, 12, 31)

# For loop to add the lat and lon from each city via zip command to get our dataframe
for l1, l2 in zip(lat_B, lon_B):
    city_point_B = Point(l1, l2)

#In the loop to get daily data for each city
    weather_B_data = Daily(city_point_B, start, end)
#In the loop to query the data from the api    
    weather_B_data = weather_B_data.fetch()
#In the loop to build new colum for Latitude and Longetude each to get the values
    weather_B_data['lat'] = l1
    weather_B_data['lon'] = l2
# Reset the index
    weather_B_data.reset_index(level = 0, inplace=True) 


#Append the values to our final Dataframe
    weather_B = weather_B.append(weather_B_data)

# Dataframe about weather data in each city
weather_B

,time,tavg,tmin,tmax,prcp,snow,wdir,wspd,wpgt,pres,tsun,lat,lon
0,2017-01-01,2.3,0.4,3.6,0.7,0.0,222.5,13.3,31.0,1018.0,36.0,52.518611,13.408333
1,2017-01-02,1.0,-0.4,3.0,1.0,0.0,281.6,15.5,35.3,1015.9,0.0,52.518611,13.408333
2,2017-01-03,2.7,0.7,4.2,9.5,0.0,261.6,23.0,63.0,1013.6,0.0,52.518611,13.408333
3,2017-01-04,2.5,-0.4,5.0,3.1,0.0,293.6,28.8,71.6,1001.7,12.0,52.518611,13.408333
4,2017-01-05,-2.9,-6.5,-0.4,0.0,0.0,352.9,23.0,48.2,1027.2,132.0,52.518611,13.408333
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1821,2021-12-27,-4.6,-2.1,-8.2,0.0,NaN,114.5,17.8,35.2,1008.9,6.0,52.518611,13.408333
1822,2021-12-28,-0.2,-0.1,2.0,2.4,NaN,131.3,17.0,33.3,1000.5,0.0,52.518611,13.408333
1823,2021-12-29,3.0,1.9,3.9,1.4,NaN,232.5,8.5,20.4,1004.1,0.0,52.518611,13.408333
1824,2021-12-30,7.6,10.0,9.6,3.3,NaN,233.4,14.1,38.9,1011.1,0.0,52.518611,13.408333
1825,2021-12-31,11.8,11.3,12.4,5.2,NaN,257.1,20.8,42.6,1014.4,0.0,52.518611,13.408333

#### Aggregated weather columns Berlin

##### Average temperature for each month from 2017 until the end of 2021

In [32]:
# Groupby date and set it to a month period then get the avg. temp
weather_B_t = weather_B.groupby(pd.PeriodIndex(weather_B['time'], freq="M"))['tavg'].mean()


# put the series above in a dataframe
weather_B_temp = pd.DataFrame(weather_B_t)

# add the lat and lon to the new table for joining later with the other aggregated weather functions
weather_B_temp['lat'] = 52.518611
weather_B_temp['lon'] = 13.408333
weather_B_temp['city'] = 'berlin'

# reset the index
weather_B_temp = weather_B_temp.reset_index()

In [33]:
# Rename columns
weather_B_temp.rename(columns = {"time":"date"}, inplace=True)

In [34]:
# print all for test 
weather_B_temp

       date       tavg        lat        lon    city
0   2017-01  -0.751613  52.518611  13.408333  berlin
1   2017-02   2.378571  52.518611  13.408333  berlin
2   2017-03   7.958065  52.518611  13.408333  berlin
3   2017-04   8.630000  52.518611  13.408333  berlin
4   2017-05  15.516129  52.518611  13.408333  berlin
5   2017-06  18.920000  52.518611  13.408333  berlin
6   2017-07  19.225806  52.518611  13.408333  berlin
7   2017-08  19.493548  52.518611  13.408333  berlin
8   2017-09  14.346667  52.518611  13.408333  berlin
9   2017-10  12.029032  52.518611  13.408333  berlin
10  2017-11   6.220000  52.518611  13.408333  berlin
11  2017-12   3.941935  52.518611  13.408333  berlin
12  2018-01   3.738710  52.518611  13.408333  berlin
13  2018-02  -0.800000  52.518611  13.408333  berlin
14  2018-03   1.987097  52.518611  13.408333  berlin
15  2018-04  13.956667  52.518611  13.408333  berlin
16  2018-05  18.041935  52.518611  13.408333  berlin
17  2018-06  19.610000  52.518611  13.408333  berlin
18  2018-07  21.983871  52.518611  13.408333  berlin
19  2018-08  21.645161  52.518611  13.408333  berlin
20  2018-09  16.280000  52.518611  13.408333  berlin
21  2018-10  11.316129  52.518611  13.408333  berlin
22  2018-11   5.750000  52.518611  13.408333  berlin
23  2018-12   4.493548  52.518611  13.408333  berlin
24  2019-01   1.529032  52.518611  13.408333  berlin
25  2019-02   5.035714  52.518611  13.408333  berlin
26  2019-03   7.364516  52.518611  13.408333  berlin
27  2019-04  11.150000  52.518611  13.408333  berlin
28  2019-05  12.341935  52.518611  13.408333  berlin
29  2019-06  22.150000  52.518611  13.408333  berlin
30  2019-07  19.435484  52.518611  13.408333  berlin
31  2019-08  20.390323  52.518611  13.408333  berlin
32  2019-09  14.710000  52.518611  13.408333  berlin
33  2019-10  11.290323  52.518611  13.408333  berlin
34  2019-11   6.380000  52.518611  13.408333  berlin
35  2019-12   4.364516  52.518611  13.408333  berlin
36  2020-01   4.558065  52.518611  13.408333  berlin
37  2020-02   6.282759  52.518611  13.408333  berlin
38  2020-03   5.706452  52.518611  13.408333  berlin
39  2020-04  10.696667  52.518611  13.408333  berlin
40  2020-05  12.293548  52.518611  13.408333  berlin
41  2020-06  18.760000  52.518611  13.408333  berlin
42  2020-07  17.987097  52.518611  13.408333  berlin
43  2020-08  21.151613  52.518611  13.408333  berlin
44  2020-09  15.413333  52.518611  13.408333  berlin
45  2020-10  11.112903  52.518611  13.408333  berlin
46  2020-11   7.193333  52.518611  13.408333  berlin
47  2020-12   3.538710  52.518611  13.408333  berlin
48  2021-01   0.948387  52.518611  13.408333  berlin
49  2021-02   1.396429  52.518611  13.408333  berlin
50  2021-03   5.361290  52.518611  13.408333  berlin
51  2021-04   6.810000  52.518611  13.408333  berlin
52  2021-05  12.032258  52.518611  13.408333  berlin
53  2021-06  20.650000  52.518611  13.408333  berlin
54  2021-07  20.254839  52.518611  13.408333  berlin
55  2021-08  17.141935  52.518611  13.408333  berlin
56  2021-09  15.623333  52.518611  13.408333  berlin
57  2021-10  10.032258  52.518611  13.408333  berlin
58  2021-11   5.990000  52.518611  13.408333  berlin
59  2021-12   1.922581  52.518611  13.408333  berlin

##### Average sunhours for each month from 2017 until the end of 2021

In [35]:
# Groupby date and set it to a month period then get the avg. sunhours
weather_B_s = weather_B.groupby(pd.PeriodIndex(weather_B['time'], freq="M"))['tsun'].mean()

# put the series above in a dataframe
weather_B_sunh = pd.DataFrame(weather_B_s)

# reset the index
weather_B_sunh = weather_B_sunh.reset_index()

In [36]:
# Rename columns
weather_B_sunh.rename(columns = {"time":"date"}, inplace=True)

In [37]:
weather_B_sunh

       date        tsun
0   2017-01  111.483871
1   2017-02  132.000000
2   2017-03  241.741935
3   2017-04  282.600000
4   2017-05  425.161290
5   2017-06  462.333333
6   2017-07  406.645161
7   2017-08  419.161290
8   2017-09  282.366667
9   2017-10  147.354839
10  2017-11   90.700000
11  2017-12   65.903226
12  2018-01   49.419355
13  2018-02  299.642857
14  2018-03  229.677419
15  2018-04  502.633333
16  2018-05  658.548387
17  2018-06  450.600000
18  2018-07  626.096774
19  2018-08  523.838710
20  2018-09  403.600000
21  2018-10  319.483871
22  2018-11  126.266667
23  2018-12   27.258065
24  2019-01   90.419355
25  2019-02  241.178571
26  2019-03  154.000000
27  2019-04  526.833333
28  2019-05  377.870968
29  2019-06  679.266667
30  2019-07  412.354839
31  2019-08  463.451613
32  2019-09  335.500000
33  2019-10  237.903226
34  2019-11   77.833333
35  2019-12   90.000000
36  2020-01  118.677419
37  2020-02   96.724138
38  2020-03  320.709677
39  2020-04  591.266667
40  2020-05  437.161290
41  2020-06  469.500000
42  2020-07  429.161290
43  2020-08  465.387097
44  2020-09  424.733333
45  2020-10  121.161290
46  2020-11  133.800000
47  2020-12   91.741935
48  2021-01   43.322581
49  2021-02  196.250000
50  2021-03  277.000000
51  2021-04  311.600000
52  2021-05  360.258065
53  2021-06  537.300000
54  2021-07  409.612903
55  2021-08  307.612903
56  2021-09  276.900000
57  2021-10  277.903226
58  2021-11   72.633333
59  2021-12   64.741935

##### Count the monthly Raindays

In [38]:
# Filter the raindays and the not raindays
# Apply a function along an axis of the DataFrame
weather_B["rain_days"] = weather_B['prcp'].apply(lambda x: 'rainy_day' if x >= 2.5 else 'not_rainy_day')

In [39]:
# New variable with only the raindays
weather_B_rainy = weather_B[weather_B["rain_days"]=='rainy_day']

# Group all rain days based on month from 2017 until 2021 and count all these days in a month
weather_B_rainy = weather_B_rainy.groupby(pd.PeriodIndex(weather_B_rainy['time'], freq="M"))['rain_days'].value_counts()

# Put the new variable in a Dataframe
weather_B_rainy = pd.DataFrame(weather_B_rainy)

# drop the column level(s) - default is level=0 (We got here twice raindays but we only need the count raindays column so we drop the level= 0 column )
weather_B_rainy = weather_B_rainy.droplevel("rain_days")
weather_B_rainy = weather_B_rainy.reset_index()

In [40]:
# Rename columns
weather_B_rainy.rename(columns = {"time":"date"}, inplace=True)

In [41]:
# print all for test 
weather_B_rainy

       date  rain_days
0   2017-01          5
1   2017-02          3
2   2017-03          8
3   2017-04          4
4   2017-05          2
5   2017-06          9
6   2017-07         10
7   2017-08          5
8   2017-09          3
9   2017-10         10
10  2017-11          7
11  2017-12          8
12  2018-01          9
13  2018-03          6
14  2018-04          5
15  2018-05          2
16  2018-06          4
17  2018-07          3
18  2018-08          1
19  2018-09          5
20  2018-10          1
21  2018-11          2
22  2018-12          9
23  2019-01          9
24  2019-02          3
25  2019-03          9
26  2019-04          3
27  2019-05          6
28  2019-06          6
29  2019-07          7
30  2019-08          7
31  2019-09          6
32  2019-10          7
33  2019-11          9
34  2019-12          4
35  2020-01          8
36  2020-02         11
37  2020-03          7
38  2020-04          1
39  2020-05          4
40  2020-06          7
41  2020-07          6
42  2020-08          6
43  2020-09          7
44  2020-10          9
45  2020-11          1
46  2020-12          3
47  2021-01         10
48  2021-02          7
49  2021-03          6
50  2021-04          5
51  2021-05          8
52  2021-06          2
53  2021-07          5
54  2021-08         12
55  2021-09          2
56  2021-10          4
57  2021-11          5
58  2021-12          7

In [42]:
# New variable with only days without rain
weather_B_notrain = weather_B[weather_B["rain_days"]=='not_rainy_day']

# Group all not rain days based on month from 2017 until 2021 and count all these days in a month
weather_B_notrain = weather_B_notrain.groupby(pd.PeriodIndex(weather_B_notrain['time'], freq="M"))['rain_days'].value_counts()

# Put the new variable in a Dataframe
weather_B_notrain = pd.DataFrame(weather_B_notrain)

# drop the column level(s) - default is level=0 (We got here twice raindays but we only need the count raindays column so we drop the level= 0 column )
weather_B_notrain = weather_B_notrain.droplevel("rain_days")
weather_B_notrain = weather_B_notrain.reset_index()

In [43]:
# Rename columns
weather_B_notrain.rename(columns = {"time":"date","rain_days":"day_without_rain"}, inplace=True)

In [44]:
# print for test
weather_B_notrain

       date  day_without_rain
0   2017-01                26
1   2017-02                25
2   2017-03                23
3   2017-04                26
4   2017-05                29
5   2017-06                21
6   2017-07                21
7   2017-08                26
8   2017-09                27
9   2017-10                21
10  2017-11                23
11  2017-12                23
12  2018-01                22
13  2018-02                28
14  2018-03                25
15  2018-04                25
16  2018-05                29
17  2018-06                26
18  2018-07                28
19  2018-08                30
20  2018-09                25
21  2018-10                30
22  2018-11                28
23  2018-12                22
24  2019-01                22
25  2019-02                25
26  2019-03                22
27  2019-04                27
28  2019-05                25
29  2019-06                24
30  2019-07                24
31  2019-08                24
32  2019-09                24
33  2019-10                24
34  2019-11                21
35  2019-12                27
36  2020-01                23
37  2020-02                18
38  2020-03                24
39  2020-04                29
40  2020-05                27
41  2020-06                23
42  2020-07                25
43  2020-08                25
44  2020-09                23
45  2020-10                22
46  2020-11                29
47  2020-12                28
48  2021-01                21
49  2021-02                21
50  2021-03                25
51  2021-04                25
52  2021-05                23
53  2021-06                28
54  2021-07                26
55  2021-08                19
56  2021-09                28
57  2021-10                27
58  2021-11                25
59  2021-12                24

##### Count the monthly Snowdays

In [45]:
# Filter the snowdays and the not snowdays
# Apply: Apply a function along an axis of the DataFrame.
weather_B["snow_days"] = weather_B['snow'].apply(lambda x: 'snow_day' if x > 0 else 'not_snow_day')

In [46]:
# New variable with only days with snow
weather_B_snowday = weather_B[weather_B["snow_days"]=='snow_day']

# Group all snowdays based on month from 2017 until 2021 and count all these days in a month
weather_B_snowday = weather_B_snowday.groupby(pd.PeriodIndex(weather_B_snowday['time'], freq="M"))['snow_days'].value_counts()

# Put the new variable in a Dataframe
weather_B_snowday = pd.DataFrame(weather_B_snowday)

# drop the column level(s) - default is level=0 (We got here twice raindays but we only need the count raindays column so we drop the level= 0 column )
weather_B_snowday = weather_B_snowday.droplevel("snow_days")
weather_B_snowday = weather_B_snowday.reset_index()

In [47]:
weather_B_snowday.rename(columns = {"time":"date"}, inplace=True)

In [48]:
# print for test
weather_B_snowday

      date  snow_days
0  2017-01          6
1  2017-12          1
2  2018-01          1
3  2018-03          1
4  2019-01          4
5  2019-02          1
6  2021-01          5
7  2021-02         14
8  2021-03          1

In [49]:
# New variable with only days with snow
weather_B_notsnowday = weather_B[weather_B["snow_days"]=='not_snow_day']

# Group all snowdays based on month from 2017 until 2021 and count all these days in a month
weather_B_notsnowday = weather_B_notsnowday.groupby(pd.PeriodIndex(weather_B_notsnowday['time'], freq="M"))['snow_days'].value_counts()

# Put the new variable in a Dataframe
weather_B_notsnowday = pd.DataFrame(weather_B_notsnowday)

# drop the column level(s) - default is level=0 (We got here twice raindays but we only need the count raindays column so we drop the level= 0 column )
weather_B_notsnowday = weather_B_notsnowday.droplevel("snow_days")
weather_B_notsnowday = weather_B_notsnowday.reset_index()

In [50]:
weather_B_notsnowday.rename(columns = {"time":"date","snow_days":"days_without_snow"}, inplace=True)

In [51]:
# print for test
weather_B_notsnowday

       date  days_without_snow
0   2017-01                 25
1   2017-02                 28
2   2017-03                 31
3   2017-04                 30
4   2017-05                 31
5   2017-06                 30
6   2017-07                 31
7   2017-08                 31
8   2017-09                 30
9   2017-10                 31
10  2017-11                 30
11  2017-12                 30
12  2018-01                 30
13  2018-02                 28
14  2018-03                 30
15  2018-04                 30
16  2018-05                 31
17  2018-06                 30
18  2018-07                 31
19  2018-08                 31
20  2018-09                 30
21  2018-10                 31
22  2018-11                 30
23  2018-12                 31
24  2019-01                 27
25  2019-02                 27
26  2019-03                 31
27  2019-04                 30
28  2019-05                 31
29  2019-06                 30
30  2019-07                 31
31  2019-08                 31
32  2019-09                 30
33  2019-10                 31
34  2019-11                 30
35  2019-12                 31
36  2020-01                 31
37  2020-02                 29
38  2020-03                 31
39  2020-04                 30
40  2020-05                 31
41  2020-06                 30
42  2020-07                 31
43  2020-08                 31
44  2020-09                 30
45  2020-10                 31
46  2020-11                 30
47  2020-12                 31
48  2021-01                 26
49  2021-02                 14
50  2021-03                 30
51  2021-04                 30
52  2021-05                 31
53  2021-06                 30
54  2021-07                 31
55  2021-08                 31
56  2021-09                 30
57  2021-10                 31
58  2021-11                 30
59  2021-12                 31

##### Merge all tables together

In [52]:
#merge all tables on date
df_weather_B = weather_B_temp.merge(weather_B_sunh, how='left' , on='date').merge(weather_B_rainy,how='left', on='date').merge(weather_B_notrain,how='left', on='date').merge(weather_B_snowday,how='left',on="date").merge(weather_B_notsnowday,how='left',on='date')

#### Last cleaning of the table

In [53]:
# Change the order
df_weather_B = df_weather_B[["date","tavg","tsun","rain_days","day_without_rain","snow_days","days_without_snow","city","lat","lon"]]

In [54]:
# To see the Datatypes that had to change (date to datetime, rain_days and snow_days to int)
df_weather_B.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60 entries, 0 to 59
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               60 non-null     period[M]
 1   tavg               60 non-null     float64
 2   tsun               60 non-null     float64
 3   rain_days          59 non-null     float64
 4   day_without_rain   60 non-null     int64
 5   snow_days          9 non-null      float64
 6   days_without_snow  60 non-null     int64
 7   city               60 non-null     object
 8   lat                60 non-null     float64
 9   lon                60 non-null     float64
dtypes: float64(6), int64(2), object(1), period[M](1)
memory usage: 5.2+ KB

In [55]:
# clean the raindays column
# fill all nan with 0 to show that months on which the event did not take place are 0 
df_weather_B["rain_days"] = df_weather_B["rain_days"].fillna(0)

# Change it to an int
df_weather_B["rain_days"] = df_weather_B["rain_days"].astype('int')

# clean the snowdays column
# fill all nan with 0 to show that months on which the event did not take place are 0 
df_weather_B["snow_days"] = df_weather_B["snow_days"].fillna(0)

# Change it to an integer
df_weather_B["snow_days"] = df_weather_B["snow_days"].astype('int')

In [56]:
# To change the date from a period[M] to a datetime64[ns] 
df_weather_B = df_weather_B.set_index("date").to_timestamp().reset_index()

In [57]:
# Check if everything fits now
display(df_weather_B.info())
display(df_weather_B)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               60 non-null     datetime64[ns]
 1   tavg               60 non-null     float64
 2   tsun               60 non-null     float64
 3   rain_days          60 non-null     int64
 4   day_without_rain   60 non-null     int64
 5   snow_days          60 non-null     int64
 6   days_without_snow  60 non-null     int64
 7   city               60 non-null     object
 8   lat                60 non-null     float64
 9   lon                60 non-null     float64
dtypes: datetime64[ns](1), float64(4), int64(4), object(1)
memory usage: 4.8+ KB

None

,date,tavg,tsun,rain_days,day_without_rain,snow_days,days_without_snow,city,lat,lon
0,2017-01-01,-0.751613,111.483871,5,26,6,25,berlin,52.518611,13.408333
1,2017-02-01,2.378571,132.000000,3,25,0,28,berlin,52.518611,13.408333
2,2017-03-01,7.958065,241.741935,8,23,0,31,berlin,52.518611,13.408333
3,2017-04-01,8.630000,282.600000,4,26,0,30,berlin,52.518611,13.408333
4,2017-05-01,15.516129,425.161290,2,29,0,31,berlin,52.518611,13.408333
5,2017-06-01,18.920000,462.333333,9,21,0,30,berlin,52.518611,13.408333
6,2017-07-01,19.225806,406.645161,10,21,0,31,berlin,52.518611,13.408333
7,2017-08-01,19.493548,419.161290,5,26,0,31,berlin,52.518611,13.408333
8,2017-09-01,14.346667,282.366667,3,27,0,30,berlin,52.518611,13.408333
9,2017-10-01,12.029032,147.354839,10,21,0,31,berlin,52.518611,13.408333
10,2017-11-01,6.220000,90.700000,7,23,0,30,berlin,52.518611,13.408333
11,2017-12-01,3.941935,65.903226,8,23,1,30,berlin,52.518611,13.408333
12,2018-01-01,3.738710,49.419355,9,22,1,30,berlin,52.518611,13.408333
13,2018-02-01,-0.800000,299.642857,0,28,0,28,berlin,52.518611,13.408333
14,2018-03-01,1.987097,229.677419,6,25,1,30,berlin,52.518611,13.408333
15,2018-04-01,13.956667,502.633333,5,25,0,30,berlin,52.518611,13.408333
16,2018-05-01,18.041935,658.548387,2,29,0,31,berlin,52.518611,13.408333
17,2018-06-01,19.610000,450.600000,4,26,0,30,berlin,52.518611,13.408333
18,2018-07-01,21.983871,626.096774,3,28,0,31,berlin,52.518611,13.408333
19,2018-08-01,21.645161,523.838710,1,30,0,31,berlin,52.518611,13.408333
20,2018-09-01,16.280000,403.600000,5,25,0,30,berlin,52.518611,13.408333
21,2018-10-01,11.316129,319.483871,1,30,0,31,berlin,52.518611,13.408333
22,2018-11-01,5.750000,126.266667,2,28,0,30,berlin,52.518611,13.408333
23,2018-12-01,4.493548,27.258065,9,22,0,31,berlin,52.518611,13.408333
24,2019-01-01,1.529032,90.419355,9,22,4,27,berlin,52.518611,13.408333
25,2019-02-01,5.035714,241.178571,3,25,1,27,berlin,52.518611,13.408333
26,2019-03-01,7.364516,154.000000,9,22,0,31,berlin,52.518611,13.408333
27,2019-04-01,11.150000,526.833333,3,27,0,30,berlin,52.518611,13.408333
28,2019-05-01,12.341935,377.870968,6,25,0,31,berlin,52.518611,13.408333
29,2019-06-01,22.150000,679.266667,6,24,0,30,berlin,52.518611,13.408333
30,2019-07-01,19.435484,412.354839,7,24,0,31,berlin,52.518611,13.408333
31,2019-08-01,20.390323,463.451613,7,24,0,31,berlin,52.518611,13.408333
32,2019-09-01,14.710000,335.500000,6,24,0,30,berlin,52.518611,13.408333
33,2019-10-01,11.290323,237.903226,7,24,0,31,berlin,52.518611,13.408333
34,2019-11-01,6.380000,77.833333,9,21,0,30,berlin,52.518611,13.408333
35,2019-12-01,4.364516,90.000000,4,27,0,31,berlin,52.518611,13.408333
36,2020-01-01,4.558065,118.677419,8,23,0,31,berlin,52.518611,13.408333
37,2020-02-01,6.282759,96.724138,11,18,0,29,berlin,52.518611,13.408333
38,2020-03-01,5.706452,320.709677,7,24,0,31,berlin,52.518611,13.408333
39,2020-04-01,10.696667,591.266667,1,29,0,30,berlin,52.518611,13.408333
40,2020-05-01,12.293548,437.161290,4,27,0,31,berlin,52.518611,13.408333
41,2020-06-01,18.760000,469.500000,7,23,0,30,berlin,52.518611,13.408333
42,2020-07-01,17.987097,429.161290,6,25,0,31,berlin,52.518611,13.408333
43,2020-08-01,21.151613,465.387097,6,25,0,31,berlin,52.518611,13.408333
44,2020-09-01,15.413333,424.733333,7,23,0,30,berlin,52.518611,13.408333
45,2020-10-01,11.112903,121.161290,9,22,0,31,berlin,52.518611,13.408333
46,2020-11-01,7.193333,133.800000,1,29,0,30,berlin,52.518611,13.408333
47,2020-12-01,3.538710,91.741935,3,28,0,31,berlin,52.518611,13.408333
48,2021-01-01,0.948387,43.322581,10,21,5,26,berlin,52.518611,13.408333
49,2021-02-01,1.396429,196.250000,7,21,14,14,berlin,52.518611,13.408333
50,2021-03-01,5.361290,277.000000,6,25,1,30,berlin,52.518611,13.408333
51,2021-04-01,6.810000,311.600000,5,25,0,30,berlin,52.518611,13.408333
52,2021-05-01,12.032258,360.258065,8,23,0,31,berlin,52.518611,13.408333
53,2021-06-01,20.650000,537.300000,2,28,0,30,berlin,52.518611,13.408333
54,2021-07-01,20.254839,409.612903,5,26,0,31,berlin,52.518611,13.408333
55,2021-08-01,17.141935,307.612903,12,19,0,31,berlin,52.518611,13.408333
56,2021-09-01,15.623333,276.900000,2,28,0,30,berlin,52.518611,13.408333
57,2021-10-01,10.032258,277.903226,4,27,0,31,berlin,52.518611,13.408333
58,2021-11-01,5.990000,72.633333,5,25,0,30,berlin,52.518611,13.408333
59,2021-12-01,1.922581,64.741935,7,24,0,31,berlin,52.518611,13.408333

#### Push the prepared data to a table in the database

In [58]:
# Specify which table within your database you want to push your data to. Give your table an unambiguous name.
table_name = 'df_weather_B'
schema = 'muc_analytics_21_1'
# If the specified table doesn't exist yet, it will be created
# With 'replace', your data will be replaced if the table already exists.
# This will take a minute or two...

# Write records stored in a dataframe to SQL database
if engine!=None:
    try:
        df_weather_B.to_sql(name=table_name, # Name of SQL table
                        con=engine, # Engine or connection
                        if_exists='replace', # Drop the table before inserting new values 
                        schema=schema, # Use schmea that was defined earlier
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_name} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None

The df_weather_B table was imported successfully.

---
### Cologne

#### The Weather Data for Cologne

In [59]:
# List of the Latitude and Longetude from our selected Cities (Hamburg, Berlin, Cologne, Frankfurt, Munich)
lat_K = [50.936389]
lon_K = [6.952778]

# Empty dataframe where our weather data about every city comes in
weather_K = pd.DataFrame([])

# Start and end date of the period being analyzed
start = datetime(2017, 1, 1)
end = datetime(2021, 12, 31)

# For loop to add the lat and lon from each city via zip command to get our dataframe
for l1, l2 in zip(lat_K, lon_K):
    city_point_K = Point(l1, l2)

#In the loop to get daily data for each city
    weather_K_data = Daily(city_point_K, start, end)
#In the loop to query the data from the api    
    weather_K_data = weather_K_data.fetch()
#In the loop to build new colum for Latitude and Longetude each to get the values
    weather_K_data['lat'] = l1
    weather_K_data['lon'] = l2
# Reset the index
    weather_K_data.reset_index(level = 0, inplace=True) 


#Append the values to our final Dataframe
    weather_K = weather_K.append(weather_K_data)

# Dataframe about weather data in each city
weather_K

,time,tavg,tmin,tmax,prcp,snow,wdir,wspd,wpgt,pres,tsun,lat,lon
0,2017-01-01,-1.5,-4.3,1.4,3.2,0.0,117.1,11.9,31.3,1021.0,348.0,50.936389,6.952778
1,2017-01-02,0.8,-0.3,3.2,0.4,20.0,254.0,6.8,24.1,1022.2,102.0,50.936389,6.952778
2,2017-01-03,2.6,0.6,4.2,0.5,10.0,237.7,14.0,40.7,1023.8,36.0,50.936389,6.952778
3,2017-01-04,4.0,1.3,5.8,5.4,0.0,281.8,22.3,64.1,1015.3,60.0,50.936389,6.952778
4,2017-01-05,0.3,-4.5,2.6,0.0,0.0,354.0,10.8,31.3,1029.9,372.0,50.936389,6.952778
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1821,2021-12-27,6.1,3.4,8.3,3.5,0.0,136.3,15.5,27.7,1000.8,43.0,50.936389,6.952778
1822,2021-12-28,8.8,7.3,11.0,18.1,0.0,190.5,18.2,66.6,994.8,17.0,50.936389,6.952778
1823,2021-12-29,9.8,8.5,13.0,7.2,0.0,235.6,17.2,43.9,1005.9,19.0,50.936389,6.952778
1824,2021-12-30,13.8,11.2,15.7,0.0,0.0,247.1,19.1,50.0,1015.9,1.0,50.936389,6.952778
1825,2021-12-31,13.6,12.1,15.4,0.0,0.0,228.2,14.3,38.9,1020.2,57.0,50.936389,6.952778

#### Aggregated weather columns Cologne

##### Average temperature for each month from 2017 until the end of 2021

In [60]:
# Groupby date and set it to a month period then get the avg. temp
weather_K_t = weather_K.groupby(pd.PeriodIndex(weather_K['time'], freq="M"))['tavg'].mean()


# put the series above in a dataframe
weather_K_temp = pd.DataFrame(weather_K_t)

# add the lat and lon to the new table for joining later with the other aggregated weather functions
weather_K_temp['lat'] = 50.936389
weather_K_temp['lon'] = 6.952778
weather_K_temp['city'] = 'koeln'

# reset the index
weather_K_temp = weather_K_temp.reset_index()

In [61]:
# Rename columns
weather_K_temp.rename(columns = {"time":"date"}, inplace=True)

In [62]:
# print all for test 
weather_K_temp

       date       tavg        lat       lon   city
0   2017-01   0.796774  50.936389  6.952778  koeln
1   2017-02   6.300000  50.936389  6.952778  koeln
2   2017-03  10.032258  50.936389  6.952778  koeln
3   2017-04   9.336667  50.936389  6.952778  koeln
4   2017-05  16.561290  50.936389  6.952778  koeln
5   2017-06  20.346667  50.936389  6.952778  koeln
6   2017-07  19.974194  50.936389  6.952778  koeln
7   2017-08  19.003226  50.936389  6.952778  koeln
8   2017-09  14.726667  50.936389  6.952778  koeln
9   2017-10  13.480645  50.936389  6.952778  koeln
10  2017-11   7.296667  50.936389  6.952778  koeln
11  2017-12   5.158065  50.936389  6.952778  koeln
12  2018-01   6.458065  50.936389  6.952778  koeln
13  2018-02   0.685714  50.936389  6.952778  koeln
14  2018-03   5.667742  50.936389  6.952778  koeln
15  2018-04  14.070000  50.936389  6.952778  koeln
16  2018-05  17.900000  50.936389  6.952778  koeln
17  2018-06  19.316667  50.936389  6.952778  koeln
18  2018-07  23.103226  50.936389  6.952778  koeln
19  2018-08  21.383871  50.936389  6.952778  koeln
20  2018-09  16.373333  50.936389  6.952778  koeln
21  2018-10  12.887097  50.936389  6.952778  koeln
22  2018-11   7.886667  50.936389  6.952778  koeln
23  2018-12   6.245161  50.936389  6.952778  koeln
24  2019-01   3.025806  50.936389  6.952778  koeln
25  2019-02   6.889286  50.936389  6.952778  koeln
26  2019-03   8.703226  50.936389  6.952778  koeln
27  2019-04  12.073333  50.936389  6.952778  koeln
28  2019-05  12.529032  50.936389  6.952778  koeln
29  2019-06  21.263333  50.936389  6.952778  koeln
30  2019-07  20.745161  50.936389  6.952778  koeln
31  2019-08  20.712903  50.936389  6.952778  koeln
32  2019-09  16.010000  50.936389  6.952778  koeln
33  2019-10  12.625806  50.936389  6.952778  koeln
34  2019-11   6.853333  50.936389  6.952778  koeln
35  2019-12   6.229032  50.936389  6.952778  koeln
36  2020-01   5.919355  50.936389  6.952778  koeln
37  2020-02   7.393103  50.936389  6.952778  koeln
38  2020-03   8.148387  50.936389  6.952778  koeln
39  2020-04  13.286667  50.936389  6.952778  koeln
40  2020-05  14.619355  50.936389  6.952778  koeln
41  2020-06  19.090000  50.936389  6.952778  koeln
42  2020-07  19.216129  50.936389  6.952778  koeln
43  2020-08  22.132258  50.936389  6.952778  koeln
44  2020-09  16.826667  50.936389  6.952778  koeln
45  2020-10  12.312903  50.936389  6.952778  koeln
46  2020-11   9.036667  50.936389  6.952778  koeln
47  2020-12   6.051613  50.936389  6.952778  koeln
48  2021-01   3.406452  50.936389  6.952778  koeln
49  2021-02   5.528571  50.936389  6.952778  koeln
50  2021-03   7.551613  50.936389  6.952778  koeln
51  2021-04   7.936667  50.936389  6.952778  koeln
52  2021-05  12.545161  50.936389  6.952778  koeln
53  2021-06  20.676667  50.936389  6.952778  koeln
54  2021-07  19.274194  50.936389  6.952778  koeln
55  2021-08  17.838710  50.936389  6.952778  koeln
56  2021-09  17.176667  50.936389  6.952778  koeln
57  2021-10  11.809677  50.936389  6.952778  koeln
58  2021-11   6.696667  50.936389  6.952778  koeln
59  2021-12   5.922581  50.936389  6.952778  koeln

##### Average sunhours for each month from 2017 until the end of 2021

In [63]:
# Groupby date and set it to a month period then get the avg. sunhours
weather_K_s = weather_K.groupby(pd.PeriodIndex(weather_K['time'], freq="M"))['tsun'].mean()

# put the series above in a dataframe
weather_K_sunh = pd.DataFrame(weather_K_s)

# reset the index
weather_K_sunh = weather_K_sunh.reset_index()

In [64]:
# Rename columns
weather_K_sunh.rename(columns = {"time":"date"}, inplace=True)

In [65]:
weather_K_sunh

       date        tsun
0   2017-01  152.322581
1   2017-02  133.500000
2   2017-03  291.290323
3   2017-04  328.600000
4   2017-05  440.064516
5   2017-06  415.933333
6   2017-07  353.903226
7   2017-08  313.806452
8   2017-09  244.133333
9   2017-10  165.580645
10  2017-11   79.266667
11  2017-12   17.838710
12  2018-01   49.677419
13  2018-02  292.750000
14  2018-03  204.193548
15  2018-04  352.566667
16  2018-05  528.774194
17  2018-06  400.033333
18  2018-07  576.387097
19  2018-08  477.451613
20  2018-09  381.266667
21  2018-10  281.387097
22  2018-11  148.466667
23  2018-12   65.483871
24  2019-01   73.903226
25  2019-02  272.892857
26  2019-03  190.677419
27  2019-04  393.933333
28  2019-05  320.193548
29  2019-06  619.400000
30  2019-07  423.387097
31  2019-08  443.064516
32  2019-09  285.433333
33  2019-10  147.709677
34  2019-11   88.633333
35  2019-12   97.903226
36  2020-01   86.483871
37  2020-02  102.655172
38  2020-03  349.129032
39  2020-04  579.200000
40  2020-05  565.580645
41  2020-06  392.066667
42  2020-07  412.677419
43  2020-08  371.354839
44  2020-09  413.500000
45  2020-10   79.354839
46  2020-11  208.833333
47  2020-12   65.612903
48  2021-01   28.612903
49  2021-02  252.142857
50  2021-03  302.000000
51  2021-04  358.233333
52  2021-05  297.580645
53  2021-06  472.566667
54  2021-07  300.903226
55  2021-08  260.548387
56  2021-09  376.600000
57  2021-10  221.322581
58  2021-11  103.800000
59  2021-12   61.322581

##### Count the monthly Raindays

In [66]:
# Filter the raindays and the not raindays
# Apply a function along an axis of the DataFrame
weather_K["rain_days"] = weather_K['prcp'].apply(lambda x: 'rainy_day' if x >= 2.5 else 'not_rainy_day')

In [67]:
# New variable with only the raindays
weather_K_rainy = weather_K[weather_K["rain_days"]=='rainy_day']

# Group all rain days based on month from 2017 until 2021 and count all these days in a month
weather_K_rainy = weather_K_rainy.groupby(pd.PeriodIndex(weather_K_rainy['time'], freq="M"))['rain_days'].value_counts()

# Put the new variable in a Dataframe
weather_K_rainy = pd.DataFrame(weather_K_rainy)

# drop the column level(s) - default is level=0 (We got here twice raindays but we only need the count raindays column so we drop the level= 0 column )
weather_K_rainy = weather_K_rainy.droplevel("rain_days")
weather_K_rainy = weather_K_rainy.reset_index()

In [68]:
# Rename columns
weather_K_rainy.rename(columns = {"time":"date"}, inplace=True)

In [69]:
# print all for test 
weather_K_rainy

       date  rain_days
0   2017-01          8
1   2017-02          9
2   2017-03          7
3   2017-04          1
4   2017-05          8
5   2017-06          6
6   2017-07         11
7   2017-08          9
8   2017-09         10
9   2017-10          5
10  2017-11          8
11  2017-12         13
12  2018-01         12
13  2018-02          3
14  2018-03         10
15  2018-04          7
16  2018-05          4
17  2018-06          6
18  2018-07          1
19  2018-08          5
20  2018-09          5
21  2018-10          3
22  2018-11          4
23  2018-12         12
24  2019-01         13
25  2019-02          3
26  2019-03         10
27  2019-04          3
28  2019-05          9
29  2019-06          4
30  2019-07          2
31  2019-08          4
32  2019-09          4
33  2019-10         10
34  2019-11         10
35  2019-12          9
36  2020-01          5
37  2020-02         16
38  2020-03          8
39  2020-04          3
40  2020-05          2
41  2020-06          7
42  2020-07          6
43  2020-08          5
44  2020-09          4
45  2020-10         11
46  2020-11          4
47  2020-12         11
48  2021-01         11
49  2021-02          4
50  2021-03          8
51  2021-04          6
52  2021-05          9
53  2021-06          6
54  2021-07         10
55  2021-08         12
56  2021-09          3
57  2021-10          9
58  2021-11          6
59  2021-12         10

In [70]:
# New variable with only days without rain
weather_K_notrain = weather_K[weather_K["rain_days"]=='not_rainy_day']

# Group all not rain days based on month from 2017 until 2021 and count all these days in a month
weather_K_notrain = weather_K_notrain.groupby(pd.PeriodIndex(weather_K_notrain['time'], freq="M"))['rain_days'].value_counts()

# Put the new variable in a Dataframe
weather_K_notrain = pd.DataFrame(weather_K_notrain)

# drop the column level(s) - default is level=0 (We got here twice raindays but we only need the count raindays column so we drop the level= 0 column )
weather_K_notrain = weather_K_notrain.droplevel("rain_days")
weather_K_notrain = weather_K_notrain.reset_index()

In [71]:
# Rename columns
weather_K_notrain.rename(columns = {"time":"date","rain_days":"day_without_rain"}, inplace=True)

In [72]:
# print for test
weather_K_notrain

       date  day_without_rain
0   2017-01                23
1   2017-02                19
2   2017-03                24
3   2017-04                29
4   2017-05                23
5   2017-06                24
6   2017-07                20
7   2017-08                22
8   2017-09                20
9   2017-10                26
10  2017-11                22
11  2017-12                18
12  2018-01                19
13  2018-02                25
14  2018-03                21
15  2018-04                23
16  2018-05                27
17  2018-06                24
18  2018-07                30
19  2018-08                26
20  2018-09                25
21  2018-10                28
22  2018-11                26
23  2018-12                19
24  2019-01                18
25  2019-02                25
26  2019-03                21
27  2019-04                27
28  2019-05                22
29  2019-06                26
30  2019-07                29
31  2019-08                27
32  2019-09                26
33  2019-10                21
34  2019-11                20
35  2019-12                22
36  2020-01                26
37  2020-02                13
38  2020-03                23
39  2020-04                27
40  2020-05                29
41  2020-06                23
42  2020-07                25
43  2020-08                26
44  2020-09                26
45  2020-10                20
46  2020-11                26
47  2020-12                20
48  2021-01                20
49  2021-02                24
50  2021-03                23
51  2021-04                24
52  2021-05                22
53  2021-06                24
54  2021-07                21
55  2021-08                19
56  2021-09                27
57  2021-10                22
58  2021-11                24
59  2021-12                21

##### Count the monthly Snowdays

In [73]:
# Filter the snowdays and the not snowdays
# Apply: Apply a function along an axis of the DataFrame.
weather_K["snow_days"] = weather_K['snow'].apply(lambda x: 'snow_day' if x > 0 else 'not_snow_day')

In [74]:
# New variable with only days with snow
weather_K_snowday = weather_K[weather_K["snow_days"]=='snow_day']

# Group all snowdays based on month from 2017 until 2021 and count all these days in a month
weather_K_snowday = weather_K_snowday.groupby(pd.PeriodIndex(weather_K_snowday['time'], freq="M"))['snow_days'].value_counts()

# Put the new variable in a Dataframe
weather_K_snowday = pd.DataFrame(weather_K_snowday)

# drop the column level(s) - default is level=0 (We got here twice raindays but we only need the count raindays column so we drop the level= 0 column )
weather_K_snowday = weather_K_snowday.droplevel("snow_days")
weather_K_snowday = weather_K_snowday.reset_index()

In [75]:
weather_K_snowday.rename(columns = {"time":"date"}, inplace=True)

In [76]:
# print for test
weather_K_snowday

      date  snow_days
0  2017-01          4
1  2017-02          1
2  2017-12          2
3  2018-01          1
4  2018-02          4
5  2018-03          3
6  2018-12          1
7  2019-01          1
8  2019-02          3
9  2021-01          5

In [77]:
# New variable with only days without snow
weather_K_notsnowday = weather_K[weather_K["snow_days"]=='not_snow_day']

# Group all snowdays based on month from 2017 until 2021 and count all these days in a month
weather_K_notsnowday = weather_K_notsnowday.groupby(pd.PeriodIndex(weather_K_notsnowday['time'], freq="M"))['snow_days'].value_counts()

# Put the new variable in a Dataframe
weather_K_notsnowday = pd.DataFrame(weather_K_notsnowday)

# drop the column level(s) - default is level=0 (We got here twice raindays but we only need the count raindays column so we drop the level= 0 column )
weather_K_notsnowday = weather_K_notsnowday.droplevel("snow_days")
weather_K_notsnowday = weather_K_notsnowday.reset_index()

In [78]:
weather_K_notsnowday.rename(columns = {"time":"date","snow_days":"days_without_snow"}, inplace=True)

In [79]:
# print for test
weather_K_notsnowday

       date  days_without_snow
0   2017-01                 27
1   2017-02                 27
2   2017-03                 31
3   2017-04                 30
4   2017-05                 31
5   2017-06                 30
6   2017-07                 31
7   2017-08                 31
8   2017-09                 30
9   2017-10                 31
10  2017-11                 30
11  2017-12                 29
12  2018-01                 30
13  2018-02                 24
14  2018-03                 28
15  2018-04                 30
16  2018-05                 31
17  2018-06                 30
18  2018-07                 31
19  2018-08                 31
20  2018-09                 30
21  2018-10                 31
22  2018-11                 30
23  2018-12                 30
24  2019-01                 30
25  2019-02                 25
26  2019-03                 31
27  2019-04                 30
28  2019-05                 31
29  2019-06                 30
30  2019-07                 31
31  2019-08                 31
32  2019-09                 30
33  2019-10                 31
34  2019-11                 30
35  2019-12                 31
36  2020-01                 31
37  2020-02                 29
38  2020-03                 31
39  2020-04                 30
40  2020-05                 31
41  2020-06                 30
42  2020-07                 31
43  2020-08                 31
44  2020-09                 30
45  2020-10                 31
46  2020-11                 30
47  2020-12                 31
48  2021-01                 26
49  2021-02                 28
50  2021-03                 31
51  2021-04                 30
52  2021-05                 31
53  2021-06                 30
54  2021-07                 31
55  2021-08                 31
56  2021-09                 30
57  2021-10                 31
58  2021-11                 30
59  2021-12                 31

##### Merge all tables together

In [80]:
#merge all tables on date
df_weather_K = weather_K_temp.merge(weather_K_sunh, how='left' , on='date').merge(weather_K_rainy,how='left', on='date').merge(weather_K_notrain,how='left', on='date').merge(weather_K_snowday,how='left',on="date").merge(weather_K_notsnowday,how='left',on='date')

#### Last cleaning of the table

In [81]:
# Change the order
df_weather_K = df_weather_K[["date","tavg","tsun","rain_days","day_without_rain","snow_days","days_without_snow","city","lat","lon"]]

In [82]:
# To see the Datatypes that had to change (date to datetime, rain_days and snow_days to int)
df_weather_K.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60 entries, 0 to 59
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               60 non-null     period[M]
 1   tavg               60 non-null     float64
 2   tsun               60 non-null     float64
 3   rain_days          60 non-null     int64
 4   day_without_rain   60 non-null     int64
 5   snow_days          10 non-null     float64
 6   days_without_snow  60 non-null     int64
 7   city               60 non-null     object
 8   lat                60 non-null     float64
 9   lon                60 non-null     float64
dtypes: float64(5), int64(3), object(1), period[M](1)
memory usage: 5.2+ KB

In [83]:
# clean the raindays column
# fill all nan with 0 to show that months on which the event did not take place are 0 
df_weather_K["rain_days"] = df_weather_K["rain_days"].fillna(0)

# Change it to an int
df_weather_K["rain_days"] = df_weather_K["rain_days"].astype('int')

# clean the snowdays column
# fill all nan with 0 to show that months on which the event did not take place are 0 
df_weather_K["snow_days"] = df_weather_K["snow_days"].fillna(0)

# Change it to an integer
df_weather_K["snow_days"] = df_weather_K["snow_days"].astype('int')

In [84]:
# To change the date from a period[M] to a datetime64[ns] 
df_weather_K = df_weather_K.set_index("date").to_timestamp().reset_index()

In [85]:
# Check if everything fits now
display(df_weather_K.info())
display(df_weather_K)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               60 non-null     datetime64[ns]
 1   tavg               60 non-null     float64
 2   tsun               60 non-null     float64
 3   rain_days          60 non-null     int64
 4   day_without_rain   60 non-null     int64
 5   snow_days          60 non-null     int64
 6   days_without_snow  60 non-null     int64
 7   city               60 non-null     object
 8   lat                60 non-null     float64
 9   lon                60 non-null     float64
dtypes: datetime64[ns](1), float64(4), int64(4), object(1)
memory usage: 4.8+ KB

None

,date,tavg,tsun,rain_days,day_without_rain,snow_days,days_without_snow,city,lat,lon
0,2017-01-01,0.796774,152.322581,8,23,4,27,koeln,50.936389,6.952778
1,2017-02-01,6.300000,133.500000,9,19,1,27,koeln,50.936389,6.952778
2,2017-03-01,10.032258,291.290323,7,24,0,31,koeln,50.936389,6.952778
3,2017-04-01,9.336667,328.600000,1,29,0,30,koeln,50.936389,6.952778
4,2017-05-01,16.561290,440.064516,8,23,0,31,koeln,50.936389,6.952778
5,2017-06-01,20.346667,415.933333,6,24,0,30,koeln,50.936389,6.952778
6,2017-07-01,19.974194,353.903226,11,20,0,31,koeln,50.936389,6.952778
7,2017-08-01,19.003226,313.806452,9,22,0,31,koeln,50.936389,6.952778
8,2017-09-01,14.726667,244.133333,10,20,0,30,koeln,50.936389,6.952778
9,2017-10-01,13.480645,165.580645,5,26,0,31,koeln,50.936389,6.952778
10,2017-11-01,7.296667,79.266667,8,22,0,30,koeln,50.936389,6.952778
11,2017-12-01,5.158065,17.838710,13,18,2,29,koeln,50.936389,6.952778
12,2018-01-01,6.458065,49.677419,12,19,1,30,koeln,50.936389,6.952778
13,2018-02-01,0.685714,292.750000,3,25,4,24,koeln,50.936389,6.952778
14,2018-03-01,5.667742,204.193548,10,21,3,28,koeln,50.936389,6.952778
15,2018-04-01,14.070000,352.566667,7,23,0,30,koeln,50.936389,6.952778
16,2018-05-01,17.900000,528.774194,4,27,0,31,koeln,50.936389,6.952778
17,2018-06-01,19.316667,400.033333,6,24,0,30,koeln,50.936389,6.952778
18,2018-07-01,23.103226,576.387097,1,30,0,31,koeln,50.936389,6.952778
19,2018-08-01,21.383871,477.451613,5,26,0,31,koeln,50.936389,6.952778
20,2018-09-01,16.373333,381.266667,5,25,0,30,koeln,50.936389,6.952778
21,2018-10-01,12.887097,281.387097,3,28,0,31,koeln,50.936389,6.952778
22,2018-11-01,7.886667,148.466667,4,26,0,30,koeln,50.936389,6.952778
23,2018-12-01,6.245161,65.483871,12,19,1,30,koeln,50.936389,6.952778
24,2019-01-01,3.025806,73.903226,13,18,1,30,koeln,50.936389,6.952778
25,2019-02-01,6.889286,272.892857,3,25,3,25,koeln,50.936389,6.952778
26,2019-03-01,8.703226,190.677419,10,21,0,31,koeln,50.936389,6.952778
27,2019-04-01,12.073333,393.933333,3,27,0,30,koeln,50.936389,6.952778
28,2019-05-01,12.529032,320.193548,9,22,0,31,koeln,50.936389,6.952778
29,2019-06-01,21.263333,619.400000,4,26,0,30,koeln,50.936389,6.952778
30,2019-07-01,20.745161,423.387097,2,29,0,31,koeln,50.936389,6.952778
31,2019-08-01,20.712903,443.064516,4,27,0,31,koeln,50.936389,6.952778
32,2019-09-01,16.010000,285.433333,4,26,0,30,koeln,50.936389,6.952778
33,2019-10-01,12.625806,147.709677,10,21,0,31,koeln,50.936389,6.952778
34,2019-11-01,6.853333,88.633333,10,20,0,30,koeln,50.936389,6.952778
35,2019-12-01,6.229032,97.903226,9,22,0,31,koeln,50.936389,6.952778
36,2020-01-01,5.919355,86.483871,5,26,0,31,koeln,50.936389,6.952778
37,2020-02-01,7.393103,102.655172,16,13,0,29,koeln,50.936389,6.952778
38,2020-03-01,8.148387,349.129032,8,23,0,31,koeln,50.936389,6.952778
39,2020-04-01,13.286667,579.200000,3,27,0,30,koeln,50.936389,6.952778
40,2020-05-01,14.619355,565.580645,2,29,0,31,koeln,50.936389,6.952778
41,2020-06-01,19.090000,392.066667,7,23,0,30,koeln,50.936389,6.952778
42,2020-07-01,19.216129,412.677419,6,25,0,31,koeln,50.936389,6.952778
43,2020-08-01,22.132258,371.354839,5,26,0,31,koeln,50.936389,6.952778
44,2020-09-01,16.826667,413.500000,4,26,0,30,koeln,50.936389,6.952778
45,2020-10-01,12.312903,79.354839,11,20,0,31,koeln,50.936389,6.952778
46,2020-11-01,9.036667,208.833333,4,26,0,30,koeln,50.936389,6.952778
47,2020-12-01,6.051613,65.612903,11,20,0,31,koeln,50.936389,6.952778
48,2021-01-01,3.406452,28.612903,11,20,5,26,koeln,50.936389,6.952778
49,2021-02-01,5.528571,252.142857,4,24,0,28,koeln,50.936389,6.952778
50,2021-03-01,7.551613,302.000000,8,23,0,31,koeln,50.936389,6.952778
51,2021-04-01,7.936667,358.233333,6,24,0,30,koeln,50.936389,6.952778
52,2021-05-01,12.545161,297.580645,9,22,0,31,koeln,50.936389,6.952778
53,2021-06-01,20.676667,472.566667,6,24,0,30,koeln,50.936389,6.952778
54,2021-07-01,19.274194,300.903226,10,21,0,31,koeln,50.936389,6.952778
55,2021-08-01,17.838710,260.548387,12,19,0,31,koeln,50.936389,6.952778
56,2021-09-01,17.176667,376.600000,3,27,0,30,koeln,50.936389,6.952778
57,2021-10-01,11.809677,221.322581,9,22,0,31,koeln,50.936389,6.952778
58,2021-11-01,6.696667,103.800000,6,24,0,30,koeln,50.936389,6.952778
59,2021-12-01,5.922581,61.322581,10,21,0,31,koeln,50.936389,6.952778

#### Push the prepared data to a table in the database

In [86]:
# Specify which table within your database you want to push your data to. Give your table an unambiguous name.
table_name = 'df_weather_K'
schema = 'muc_analytics_21_1'
# If the specified table doesn't exist yet, it will be created
# With 'replace', your data will be replaced if the table already exists.
# This will take a minute or two...

# Write records stored in a dataframe to SQL database
if engine!=None:
    try:
        df_weather_B.to_sql(name=table_name, # Name of SQL table
                        con=engine, # Engine or connection
                        if_exists='replace', # Drop the table before inserting new values 
                        schema=schema, # Use schmea that was defined earlier
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_name} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None

The df_weather_K table was imported successfully.

---
### Frankfurt

In [87]:
# List of the Latitude and Longetude from our selected Cities (Hamburg, Berlin, Cologne, Frankfurt, Munich)
lat_F = [50.116667]
lon_F = [8.683333]

# Empty dataframe where our weather data about every city comes in
weather_F = pd.DataFrame([])

# Start and end date of the period being analyzed
start = datetime(2017, 1, 1)
end = datetime(2021, 12, 31)

# For loop to add the lat and lon from each city via zip command to get our dataframe
for l1, l2 in zip(lat_F, lon_F):
    city_point_F = Point(l1, l2)

#In the loop to get daily data for each city
    weather_F_data = Daily(city_point_F, start, end)
#In the loop to query the data from the api    
    weather_F_data = weather_F_data.fetch()
#In the loop to build new colum for Latitude and Longetude each to get the values
    weather_F_data['lat'] = l1
    weather_F_data['lon'] = l2
# Reset the index
    weather_F_data.reset_index(level = 0, inplace=True) 


#Append the values to our final Dataframe
    weather_F = weather_F.append(weather_F_data)

# Dataframe about weather data in each city
weather_F

,time,tavg,tmin,tmax,prcp,snow,wdir,wspd,wpgt,pres,tsun,lat,lon
0,2017-01-01,-2.8,-4.1,-1.3,0.2,0.0,213.3,7.9,24.5,1023.9,0.0,50.116667,8.683333
1,2017-01-02,0.7,-1.3,3.1,0.7,0.0,232.6,7.6,20.2,1022.7,54.0,50.116667,8.683333
2,2017-01-03,1.5,-0.2,3.8,0.2,0.0,229.1,13.3,40.7,1025.3,66.0,50.116667,8.683333
3,2017-01-04,2.9,1.3,5.5,2.3,0.0,248.7,17.6,47.9,1015.2,78.0,50.116667,8.683333
4,2017-01-05,-0.2,-4.7,2.4,0.0,0.0,357.9,9.7,34.9,1029.1,264.0,50.116667,8.683333
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1821,2021-12-27,4.6,1.6,7.5,5.7,0.0,126.4,6.3,16.7,1003.3,0.0,50.116667,8.683333
1822,2021-12-28,8.5,7.2,10.9,15.9,0.0,205.3,17.1,40.8,997.7,3.0,50.116667,8.683333
1823,2021-12-29,9.2,8.6,10.2,4.1,0.0,230.7,16.1,37.0,1007.2,12.0,50.116667,8.683333
1824,2021-12-30,12.8,9.7,16.0,1.7,0.0,234.6,18.2,40.8,1017.7,65.0,50.116667,8.683333
1825,2021-12-31,11.9,10.7,12.9,0.0,0.0,223.5,16.6,35.2,1022.1,251.0,50.116667,8.683333

Aggregated weather columns Frankfurt

Average temperature for each month from 2017 until the end of 2021

In [88]:
# Groupby date and set it to a month period then get the avg. temp
weather_F_t = weather_F.groupby(pd.PeriodIndex(weather_F['time'], freq="M"))['tavg'].mean()


# put the series above in a dataframe
weather_F_temp = pd.DataFrame(weather_F_t)

# add the lat and lon to the new table for joining later with the other aggregated weather functions
weather_F_temp['lat'] = 50.116667
weather_F_temp['lon'] = 8.683333
weather_F_temp['city'] = 'frankfurt am main'

# reset the index
weather_F_temp = weather_F_temp.reset_index()

In [89]:
# Rename columns
weather_F_temp.rename(columns = {"time":"date"}, inplace=True)

In [90]:
# print all for test 
weather_F_temp

       date       tavg        lat       lon               city
0   2017-01  -0.251613  50.116667  8.683333  frankfurt am main
1   2017-02   5.757143  50.116667  8.683333  frankfurt am main
2   2017-03   9.948387  50.116667  8.683333  frankfurt am main
3   2017-04  10.270000  50.116667  8.683333  frankfurt am main
4   2017-05  16.367742  50.116667  8.683333  frankfurt am main
5   2017-06  20.563333  50.116667  8.683333  frankfurt am main
6   2017-07  20.645161  50.116667  8.683333  frankfurt am main
7   2017-08  19.867742  50.116667  8.683333  frankfurt am main
8   2017-09  14.733333  50.116667  8.683333  frankfurt am main
9   2017-10  12.564516  50.116667  8.683333  frankfurt am main
10  2017-11   6.583333  50.116667  8.683333  frankfurt am main
11  2017-12   4.309677  50.116667  8.683333  frankfurt am main
12  2018-01   6.287097  50.116667  8.683333  frankfurt am main
13  2018-02   0.300000  50.116667  8.683333  frankfurt am main
14  2018-03   5.251613  50.116667  8.683333  frankfurt am main
15  2018-04  15.133333  50.116667  8.683333  frankfurt am main
16  2018-05  18.229032  50.116667  8.683333  frankfurt am main
17  2018-06  20.396667  50.116667  8.683333  frankfurt am main
18  2018-07  23.587097  50.116667  8.683333  frankfurt am main
19  2018-08  22.616129  50.116667  8.683333  frankfurt am main
20  2018-09  17.336667  50.116667  8.683333  frankfurt am main
21  2018-10  12.735484  50.116667  8.683333  frankfurt am main
22  2018-11   7.253333  50.116667  8.683333  frankfurt am main
23  2018-12   5.245161  50.116667  8.683333  frankfurt am main
24  2019-01   2.570968  50.116667  8.683333  frankfurt am main
25  2019-02   5.950000  50.116667  8.683333  frankfurt am main
26  2019-03   8.841935  50.116667  8.683333  frankfurt am main
27  2019-04  11.976667  50.116667  8.683333  frankfurt am main
28  2019-05  13.245161  50.116667  8.683333  frankfurt am main
29  2019-06  21.743333  50.116667  8.683333  frankfurt am main
30  2019-07  21.780645  50.116667  8.683333  frankfurt am main
31  2019-08  21.509677  50.116667  8.683333  frankfurt am main
32  2019-09  16.056667  50.116667  8.683333  frankfurt am main
33  2019-10  12.370968  50.116667  8.683333  frankfurt am main
34  2019-11   6.586667  50.116667  8.683333  frankfurt am main
35  2019-12   5.029032  50.116667  8.683333  frankfurt am main
36  2020-01   4.829032  50.116667  8.683333  frankfurt am main
37  2020-02   6.986207  50.116667  8.683333  frankfurt am main
38  2020-03   8.009677  50.116667  8.683333  frankfurt am main
39  2020-04  13.446667  50.116667  8.683333  frankfurt am main
40  2020-05  14.500000  50.116667  8.683333  frankfurt am main
41  2020-06  18.950000  50.116667  8.683333  frankfurt am main
42  2020-07  20.896774  50.116667  8.683333  frankfurt am main
43  2020-08  22.319355  50.116667  8.683333  frankfurt am main
44  2020-09  17.413333  50.116667  8.683333  frankfurt am main
45  2020-10  11.738710  50.116667  8.683333  frankfurt am main
46  2020-11   7.303333  50.116667  8.683333  frankfurt am main
47  2020-12   4.690323  50.116667  8.683333  frankfurt am main
48  2021-01   2.564516  50.116667  8.683333  frankfurt am main
49  2021-02   3.814286  50.116667  8.683333  frankfurt am main
50  2021-03   7.241935  50.116667  8.683333  frankfurt am main
51  2021-04   8.410000  50.116667  8.683333  frankfurt am main
52  2021-05  12.425806  50.116667  8.683333  frankfurt am main
53  2021-06  21.103333  50.116667  8.683333  frankfurt am main
54  2021-07  19.741935  50.116667  8.683333  frankfurt am main
55  2021-08  18.338710  50.116667  8.683333  frankfurt am main
56  2021-09  17.153333  50.116667  8.683333  frankfurt am main
57  2021-10  10.619355  50.116667  8.683333  frankfurt am main
58  2021-11   5.723333  50.116667  8.683333  frankfurt am main
59  2021-12   4.745161  50.116667  8.683333  frankfurt am main

##### Average sunhours for each month from 2017 until the end of 2021

In [91]:
# Groupby date and set it to a month period then get the avg. sunhours
weather_F_s = weather_F.groupby(pd.PeriodIndex(weather_F['time'], freq="M"))['tsun'].mean()

# put the series above in a dataframe
weather_F_sunh = pd.DataFrame(weather_F_s)

# reset the index
weather_F_sunh = weather_F_sunh.reset_index()

In [92]:
# Rename columns
weather_F_sunh.rename(columns = {"time":"date"}, inplace=True)

In [93]:
weather_F_sunh

       date        tsun
0   2017-01  185.806452
1   2017-02  188.785714
2   2017-03  315.096774
3   2017-04  375.400000
4   2017-05  430.354839
5   2017-06  538.166667
6   2017-07  402.193548
7   2017-08  399.774194
8   2017-09  251.800000
9   2017-10  194.903226
10  2017-11   94.466667
11  2017-12   35.677419
12  2018-01   63.354839
13  2018-02  282.250000
14  2018-03  196.806452
15  2018-04  475.466667
16  2018-05  538.741935
17  2018-06  511.033333
18  2018-07  612.935484
19  2018-08  533.580645
20  2018-09  434.500000
21  2018-10  341.000000
22  2018-11  173.600000
23  2018-12   37.580645
24  2019-01   74.354839
25  2019-02  304.142857
26  2019-03  268.806452
27  2019-04  435.266667
28  2019-05  394.193548
29  2019-06  630.766667
30  2019-07  510.129032
31  2019-08  462.354839
32  2019-09  343.833333
33  2019-10  165.580645
34  2019-11   63.533333
35  2019-12  105.322581
36  2020-01  104.387097
37  2020-02  143.103448
38  2020-03  367.451613
39  2020-04  605.500000
40  2020-05  546.032258
41  2020-06  420.600000
42  2020-07  503.709677
43  2020-08  406.903226
44  2020-09  455.566667
45  2020-10  101.774194
46  2020-11  187.133333
47  2020-12   39.161290
48  2021-01   36.387097
49  2021-02  286.071429
50  2021-03  321.935484
51  2021-04  423.333333
52  2021-05  364.225806
53  2021-06  523.933333
54  2021-07  420.677419
55  2021-08  339.225806
56  2021-09  428.766667
57  2021-10  203.838710
58  2021-11   70.600000
59  2021-12   86.967742

##### Count the monthly Raindays

In [94]:
# Filter the raindays and the not raindays
# Apply a function along an axis of the DataFrame
weather_F["rain_days"] = weather_F['prcp'].apply(lambda x: 'rainy_day' if x >= 2.5 else 'not_rainy_day')

In [95]:
# New variable with only the raindays
weather_F_rainy = weather_F[weather_F["rain_days"]=='rainy_day']

# Group all rain days based on month from 2017 until 2021 and count all these days in a month
weather_F_rainy = weather_F_rainy.groupby(pd.PeriodIndex(weather_F_rainy['time'], freq="M"))['rain_days'].value_counts()

# Put the new variable in a Dataframe
weather_F_rainy = pd.DataFrame(weather_F_rainy)

# drop the column level(s) - default is level=0 (We got here twice raindays but we only need the count raindays column so we drop the level= 0 column )
weather_F_rainy = weather_F_rainy.droplevel("rain_days")
weather_F_rainy = weather_F_rainy.reset_index()

In [96]:
# Rename columns
weather_F_rainy.rename(columns = {"time":"date"}, inplace=True)

In [97]:
# print all for test 
weather_F_rainy

       date  rain_days
0   2017-01          4
1   2017-02          3
2   2017-03          8
3   2017-04          2
4   2017-05          8
5   2017-06          4
6   2017-07         10
7   2017-08          7
8   2017-09          6
9   2017-10          3
10  2017-11         11
11  2017-12         10
12  2018-01         12
13  2018-02          1
14  2018-03          6
15  2018-04          2
16  2018-05          4
17  2018-06          4
18  2018-07          2
19  2018-08          2
20  2018-09          3
21  2018-10          1
22  2018-11          4
23  2018-12          9
24  2019-01          6
25  2019-02          2
26  2019-03          7
27  2019-04          4
28  2019-05          9
29  2019-06          5
30  2019-07          4
31  2019-08          5
32  2019-09          9
33  2019-10          9
34  2019-11          7
35  2019-12         10
36  2020-01          5
37  2020-02         11
38  2020-03          6
39  2020-04          2
40  2020-05          5
41  2020-06          6
42  2020-07          4
43  2020-08         10
44  2020-09          2
45  2020-10          8
46  2020-11          3
47  2020-12         11
48  2021-01          8
49  2021-02          5
50  2021-03          5
51  2021-04          3
52  2021-05         10
53  2021-06         10
54  2021-07          8
55  2021-08          7
56  2021-09          5
57  2021-10          9
58  2021-11          4
59  2021-12          8

In [98]:
# New variable with only days without rain
weather_F_notrain = weather_F[weather_F["rain_days"]=='not_rainy_day']

# Group all not rain days based on month from 2017 until 2021 and count all these days in a month
weather_F_notrain = weather_F_notrain.groupby(pd.PeriodIndex(weather_F_notrain['time'], freq="M"))['rain_days'].value_counts()

# Put the new variable in a Dataframe
weather_F_notrain = pd.DataFrame(weather_F_notrain)

# drop the column level(s) - default is level=0 (We got here twice raindays but we only need the count raindays column so we drop the level= 0 column )
weather_F_notrain = weather_F_notrain.droplevel("rain_days")
weather_F_notrain = weather_F_notrain.reset_index()

In [99]:
# Rename columns
weather_F_notrain.rename(columns = {"time":"date","rain_days":"day_without_rain"}, inplace=True)

In [100]:
# print for test
weather_F_notrain

       date  day_without_rain
0   2017-01                27
1   2017-02                25
2   2017-03                23
3   2017-04                28
4   2017-05                23
5   2017-06                26
6   2017-07                21
7   2017-08                24
8   2017-09                24
9   2017-10                28
10  2017-11                19
11  2017-12                21
12  2018-01                19
13  2018-02                27
14  2018-03                25
15  2018-04                28
16  2018-05                27
17  2018-06                26
18  2018-07                29
19  2018-08                29
20  2018-09                27
21  2018-10                30
22  2018-11                26
23  2018-12                22
24  2019-01                25
25  2019-02                26
26  2019-03                24
27  2019-04                26
28  2019-05                22
29  2019-06                25
30  2019-07                27
31  2019-08                26
32  2019-09                21
33  2019-10                22
34  2019-11                23
35  2019-12                21
36  2020-01                26
37  2020-02                18
38  2020-03                25
39  2020-04                28
40  2020-05                26
41  2020-06                24
42  2020-07                27
43  2020-08                21
44  2020-09                28
45  2020-10                23
46  2020-11                27
47  2020-12                20
48  2021-01                23
49  2021-02                23
50  2021-03                26
51  2021-04                27
52  2021-05                21
53  2021-06                20
54  2021-07                23
55  2021-08                24
56  2021-09                25
57  2021-10                22
58  2021-11                26
59  2021-12                23

##### Count the monthly Snowdays

In [101]:
# Filter the snowdays and the not snowdays
# Apply: Apply a function along an axis of the DataFrame.
weather_F["snow_days"] = weather_F['snow'].apply(lambda x: 'snow_day' if x > 0 else 'not_snow_day')

In [102]:
# New variable with only days with snow
weather_F_snowday = weather_F[weather_F["snow_days"]=='snow_day']

# Group all snowdays based on month from 2017 until 2021 and count all these days in a month
weather_F_snowday = weather_F_snowday.groupby(pd.PeriodIndex(weather_F_snowday['time'], freq="M"))['snow_days'].value_counts()

# Put the new variable in a Dataframe
weather_F_snowday = pd.DataFrame(weather_F_snowday)

# drop the column level(s) - default is level=0 (We got here twice raindays but we only need the count raindays column so we drop the level= 0 column )
weather_F_snowday = weather_F_snowday.droplevel("snow_days")
weather_F_snowday = weather_F_snowday.reset_index()

In [103]:
weather_F_snowday.rename(columns = {"time":"date"}, inplace=True)

In [104]:
# print for test
weather_F_snowday

      date  snow_days
0  2017-01          4
1  2018-02          1
2  2018-03          3
3  2019-01          5
4  2019-02          1
5  2020-02          1
6  2020-12          1
7  2021-01          3
8  2021-02          6

In [105]:
# New variable with only days with snow
weather_F_notsnowday = weather_F[weather_F["snow_days"]=='not_snow_day']

# Group all snowdays based on month from 2017 until 2021 and count all these days in a month
weather_F_notsnowday = weather_F_notsnowday.groupby(pd.PeriodIndex(weather_F_notsnowday['time'], freq="M"))['snow_days'].value_counts()

# Put the new variable in a Dataframe
weather_F_notsnowday = pd.DataFrame(weather_F_notsnowday)

# drop the column level(s) - default is level=0 (We got here twice raindays but we only need the count raindays column so we drop the level= 0 column )
weather_F_notsnowday = weather_F_notsnowday.droplevel("snow_days")
weather_F_notsnowday = weather_F_notsnowday.reset_index()

In [106]:
weather_F_notsnowday.rename(columns = {"time":"date","snow_days":"days_without_snow"}, inplace=True)

In [107]:
# print for test
weather_F_notsnowday

       date  days_without_snow
0   2017-01                 27
1   2017-02                 28
2   2017-03                 31
3   2017-04                 30
4   2017-05                 31
5   2017-06                 30
6   2017-07                 31
7   2017-08                 31
8   2017-09                 30
9   2017-10                 31
10  2017-11                 30
11  2017-12                 31
12  2018-01                 31
13  2018-02                 27
14  2018-03                 28
15  2018-04                 30
16  2018-05                 31
17  2018-06                 30
18  2018-07                 31
19  2018-08                 31
20  2018-09                 30
21  2018-10                 31
22  2018-11                 30
23  2018-12                 31
24  2019-01                 26
25  2019-02                 27
26  2019-03                 31
27  2019-04                 30
28  2019-05                 31
29  2019-06                 30
30  2019-07                 31
31  2019-08                 31
32  2019-09                 30
33  2019-10                 31
34  2019-11                 30
35  2019-12                 31
36  2020-01                 31
37  2020-02                 28
38  2020-03                 31
39  2020-04                 30
40  2020-05                 31
41  2020-06                 30
42  2020-07                 31
43  2020-08                 31
44  2020-09                 30
45  2020-10                 31
46  2020-11                 30
47  2020-12                 30
48  2021-01                 28
49  2021-02                 22
50  2021-03                 31
51  2021-04                 30
52  2021-05                 31
53  2021-06                 30
54  2021-07                 31
55  2021-08                 31
56  2021-09                 30
57  2021-10                 31
58  2021-11                 30
59  2021-12                 31

##### Merge all tables together

In [108]:
#merge all tables on date
df_weather_F = weather_F_temp.merge(weather_F_sunh, how='left' , on='date').merge(weather_F_rainy,how='left', on='date').merge(weather_F_notrain,how='left', on='date').merge(weather_F_snowday,how='left',on="date").merge(weather_F_notsnowday,how='left',on='date')

##### Last cleaning of the table

In [109]:
# Change the order
df_weather_F = df_weather_F[["date","tavg","tsun","rain_days","day_without_rain","snow_days","days_without_snow","city","lat","lon"]]

In [110]:
# To see the Datatypes that had to change (date to datetime, rain_days and snow_days to int as well as fill the NaN with 0)
df_weather_F.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60 entries, 0 to 59
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               60 non-null     period[M]
 1   tavg               60 non-null     float64
 2   tsun               60 non-null     float64
 3   rain_days          60 non-null     int64
 4   day_without_rain   60 non-null     int64
 5   snow_days          9 non-null      float64
 6   days_without_snow  60 non-null     int64
 7   city               60 non-null     object
 8   lat                60 non-null     float64
 9   lon                60 non-null     float64
dtypes: float64(5), int64(3), object(1), period[M](1)
memory usage: 5.2+ KB

In [111]:
# clean the raindays column
# fill all nan with 0 to show that months on which the event did not take place are 0 
df_weather_F["rain_days"] = df_weather_F["rain_days"].fillna(0)

# Change it to an int
df_weather_F["rain_days"] = df_weather_F["rain_days"].astype('int')

# clean the snowdays column
# fill all nan with 0 to show that months on which the event did not take place are 0 
df_weather_F["snow_days"] = df_weather_F["snow_days"].fillna(0)

# Change it to an integer
df_weather_F["snow_days"] = df_weather_F["snow_days"].astype('int')

In [112]:
# To change the date from a period[M] to a datetime64[ns] 
df_weather_F = df_weather_F.set_index("date").to_timestamp().reset_index()

In [113]:
# Check if everything fits now
display(df_weather_F.info())
display(df_weather_F)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               60 non-null     datetime64[ns]
 1   tavg               60 non-null     float64
 2   tsun               60 non-null     float64
 3   rain_days          60 non-null     int64
 4   day_without_rain   60 non-null     int64
 5   snow_days          60 non-null     int64
 6   days_without_snow  60 non-null     int64
 7   city               60 non-null     object
 8   lat                60 non-null     float64
 9   lon                60 non-null     float64
dtypes: datetime64[ns](1), float64(4), int64(4), object(1)
memory usage: 4.8+ KB

None

,date,tavg,tsun,rain_days,day_without_rain,snow_days,days_without_snow,city,lat,lon
0,2017-01-01,-0.251613,185.806452,4,27,4,27,frankfurt am main,50.116667,8.683333
1,2017-02-01,5.757143,188.785714,3,25,0,28,frankfurt am main,50.116667,8.683333
2,2017-03-01,9.948387,315.096774,8,23,0,31,frankfurt am main,50.116667,8.683333
3,2017-04-01,10.270000,375.400000,2,28,0,30,frankfurt am main,50.116667,8.683333
4,2017-05-01,16.367742,430.354839,8,23,0,31,frankfurt am main,50.116667,8.683333
5,2017-06-01,20.563333,538.166667,4,26,0,30,frankfurt am main,50.116667,8.683333
6,2017-07-01,20.645161,402.193548,10,21,0,31,frankfurt am main,50.116667,8.683333
7,2017-08-01,19.867742,399.774194,7,24,0,31,frankfurt am main,50.116667,8.683333
8,2017-09-01,14.733333,251.800000,6,24,0,30,frankfurt am main,50.116667,8.683333
9,2017-10-01,12.564516,194.903226,3,28,0,31,frankfurt am main,50.116667,8.683333
10,2017-11-01,6.583333,94.466667,11,19,0,30,frankfurt am main,50.116667,8.683333
11,2017-12-01,4.309677,35.677419,10,21,0,31,frankfurt am main,50.116667,8.683333
12,2018-01-01,6.287097,63.354839,12,19,0,31,frankfurt am main,50.116667,8.683333
13,2018-02-01,0.300000,282.250000,1,27,1,27,frankfurt am main,50.116667,8.683333
14,2018-03-01,5.251613,196.806452,6,25,3,28,frankfurt am main,50.116667,8.683333
15,2018-04-01,15.133333,475.466667,2,28,0,30,frankfurt am main,50.116667,8.683333
16,2018-05-01,18.229032,538.741935,4,27,0,31,frankfurt am main,50.116667,8.683333
17,2018-06-01,20.396667,511.033333,4,26,0,30,frankfurt am main,50.116667,8.683333
18,2018-07-01,23.587097,612.935484,2,29,0,31,frankfurt am main,50.116667,8.683333
19,2018-08-01,22.616129,533.580645,2,29,0,31,frankfurt am main,50.116667,8.683333
20,2018-09-01,17.336667,434.500000,3,27,0,30,frankfurt am main,50.116667,8.683333
21,2018-10-01,12.735484,341.000000,1,30,0,31,frankfurt am main,50.116667,8.683333
22,2018-11-01,7.253333,173.600000,4,26,0,30,frankfurt am main,50.116667,8.683333
23,2018-12-01,5.245161,37.580645,9,22,0,31,frankfurt am main,50.116667,8.683333
24,2019-01-01,2.570968,74.354839,6,25,5,26,frankfurt am main,50.116667,8.683333
25,2019-02-01,5.950000,304.142857,2,26,1,27,frankfurt am main,50.116667,8.683333
26,2019-03-01,8.841935,268.806452,7,24,0,31,frankfurt am main,50.116667,8.683333
27,2019-04-01,11.976667,435.266667,4,26,0,30,frankfurt am main,50.116667,8.683333
28,2019-05-01,13.245161,394.193548,9,22,0,31,frankfurt am main,50.116667,8.683333
29,2019-06-01,21.743333,630.766667,5,25,0,30,frankfurt am main,50.116667,8.683333
30,2019-07-01,21.780645,510.129032,4,27,0,31,frankfurt am main,50.116667,8.683333
31,2019-08-01,21.509677,462.354839,5,26,0,31,frankfurt am main,50.116667,8.683333
32,2019-09-01,16.056667,343.833333,9,21,0,30,frankfurt am main,50.116667,8.683333
33,2019-10-01,12.370968,165.580645,9,22,0,31,frankfurt am main,50.116667,8.683333
34,2019-11-01,6.586667,63.533333,7,23,0,30,frankfurt am main,50.116667,8.683333
35,2019-12-01,5.029032,105.322581,10,21,0,31,frankfurt am main,50.116667,8.683333
36,2020-01-01,4.829032,104.387097,5,26,0,31,frankfurt am main,50.116667,8.683333
37,2020-02-01,6.986207,143.103448,11,18,1,28,frankfurt am main,50.116667,8.683333
38,2020-03-01,8.009677,367.451613,6,25,0,31,frankfurt am main,50.116667,8.683333
39,2020-04-01,13.446667,605.500000,2,28,0,30,frankfurt am main,50.116667,8.683333
40,2020-05-01,14.500000,546.032258,5,26,0,31,frankfurt am main,50.116667,8.683333
41,2020-06-01,18.950000,420.600000,6,24,0,30,frankfurt am main,50.116667,8.683333
42,2020-07-01,20.896774,503.709677,4,27,0,31,frankfurt am main,50.116667,8.683333
43,2020-08-01,22.319355,406.903226,10,21,0,31,frankfurt am main,50.116667,8.683333
44,2020-09-01,17.413333,455.566667,2,28,0,30,frankfurt am main,50.116667,8.683333
45,2020-10-01,11.738710,101.774194,8,23,0,31,frankfurt am main,50.116667,8.683333
46,2020-11-01,7.303333,187.133333,3,27,0,30,frankfurt am main,50.116667,8.683333
47,2020-12-01,4.690323,39.161290,11,20,1,30,frankfurt am main,50.116667,8.683333
48,2021-01-01,2.564516,36.387097,8,23,3,28,frankfurt am main,50.116667,8.683333
49,2021-02-01,3.814286,286.071429,5,23,6,22,frankfurt am main,50.116667,8.683333
50,2021-03-01,7.241935,321.935484,5,26,0,31,frankfurt am main,50.116667,8.683333
51,2021-04-01,8.410000,423.333333,3,27,0,30,frankfurt am main,50.116667,8.683333
52,2021-05-01,12.425806,364.225806,10,21,0,31,frankfurt am main,50.116667,8.683333
53,2021-06-01,21.103333,523.933333,10,20,0,30,frankfurt am main,50.116667,8.683333
54,2021-07-01,19.741935,420.677419,8,23,0,31,frankfurt am main,50.116667,8.683333
55,2021-08-01,18.338710,339.225806,7,24,0,31,frankfurt am main,50.116667,8.683333
56,2021-09-01,17.153333,428.766667,5,25,0,30,frankfurt am main,50.116667,8.683333
57,2021-10-01,10.619355,203.838710,9,22,0,31,frankfurt am main,50.116667,8.683333
58,2021-11-01,5.723333,70.600000,4,26,0,30,frankfurt am main,50.116667,8.683333
59,2021-12-01,4.745161,86.967742,8,23,0,31,frankfurt am main,50.116667,8.683333

#### Push the prepared data to a table in the database

In [114]:
# Specify which table within your database you want to push your data to. Give your table an unambiguous name.
table_name = 'df_weather_F_test_JB'
schema = 'muc_analytics_21_1'
# If the specified table doesn't exist yet, it will be created
# With 'replace', your data will be replaced if the table already exists.
# This will take a minute or two...

# Write records stored in a dataframe to SQL database
if engine!=None:
    try:
        df_weather_F.to_sql(name=table_name, # Name of SQL table
                        con=engine, # Engine or connection
                        if_exists='replace', # Drop the table before inserting new values 
                        schema=schema, # Use schmea that was defined earlier
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_name} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None

The df_weather_F_test_JB table was imported successfully.

### Munich

In [115]:
# List of the Latitude and Longetude from our selected Cities (Hamburg, Berlin, Cologne, Frankfurt, Munich)
lat_M = [48.137154]
lon_M = [8.683333]

# Empty dataframe where our weather data about every city comes in
weather_M = pd.DataFrame([])

# Start and end date of the period being analyzed
start = datetime(2017, 1, 1)
end = datetime(2021, 12, 31)

# For loop to add the lat and lon from each city via zip command to get our dataframe
for l1, l2 in zip(lat_M, lon_M):
    city_point_M = Point(l1, l2)

#In the loop to get daily data for each city
    weather_M_data = Daily(city_point_M, start, end)
#In the loop to query the data from the api    
    weather_M_data = weather_M_data.fetch()
#In the loop to build new colum for Latitude and Longetude each to get the values
    weather_M_data['lat'] = l1
    weather_M_data['lon'] = l2
# Reset the index
    weather_M_data.reset_index(level = 0, inplace=True) 


#Append the values to our final Dataframe
    weather_M = weather_M.append(weather_M_data)

# Dataframe about weather data in each city
weather_M

Warning: Cannot load daily/full/D2677.csv.gz from https://bulk.meteostat.net/v2/

,time,tavg,tmin,tmax,prcp,snow,wdir,wspd,wpgt,pres,tsun,lat,lon
0,2017-01-01,-4.1,-9.4,6.0,0.0,0.0,NaN,NaN,NaN,NaN,462.0,48.137154,8.683333
1,2017-01-02,-4.1,-9.2,-0.6,1.2,0.0,NaN,NaN,NaN,NaN,6.0,48.137154,8.683333
2,2017-01-03,-3.1,-4.9,0.5,0.0,30.0,NaN,NaN,NaN,NaN,246.0,48.137154,8.683333
3,2017-01-04,-1.2,-4.2,1.1,1.5,30.0,NaN,NaN,NaN,NaN,0.0,48.137154,8.683333
4,2017-01-05,-4.2,-12.9,-0.9,1.0,40.0,NaN,NaN,NaN,NaN,192.0,48.137154,8.683333
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1821,2021-12-27,5.3,2.8,7.6,2.9,0.0,180.9,15.3,NaN,1005.2,10.0,48.137154,8.683333
1822,2021-12-28,7.1,4.1,10.7,5.6,0.0,218.8,24.5,NaN,1002.3,26.0,48.137154,8.683333
1823,2021-12-29,6.9,5.7,9.6,3.1,0.0,234.6,18.5,NaN,1011.2,0.0,48.137154,8.683333
1824,2021-12-30,11.2,8.4,14.9,0.0,0.0,238.3,13.9,NaN,1021.5,102.0,48.137154,8.683333
1825,2021-12-31,7.8,0.7,13.4,0.0,0.0,202.1,10.8,NaN,1024.5,268.0,48.137154,8.683333

#### Aggregated weather columns Hamburg

##### Average temperature for each month from 2017 until the end of 2021

In [116]:
# Groupby date and set it to a month period then get the avg. temp
weather_M_t = weather_M.groupby(pd.PeriodIndex(weather_M['time'], freq="M"))['tavg'].mean()


# put the series above in a dataframe
weather_M_temp = pd.DataFrame(weather_M_t)

# add the lat and lon to the new table for joining later with the other aggregated weather functions
weather_M_temp['lat'] = 48.137154
weather_M_temp['lon'] = 11.576124
weather_M_temp['city'] = 'muenchen'

# reset the index
weather_M_temp = weather_M_temp.reset_index()

In [117]:
# Rename columns
weather_M_temp.rename(columns = {"time":"date"}, inplace=True)

In [118]:
# print all for test 
weather_M_temp

       date       tavg        lat        lon      city
0   2017-01  -4.554839  48.137154  11.576124  muenchen
1   2017-02   2.900000  48.137154  11.576124  muenchen
2   2017-03   6.458065  48.137154  11.576124  muenchen
3   2017-04   6.610000  48.137154  11.576124  muenchen
4   2017-05  12.845161  48.137154  11.576124  muenchen
5   2017-06  17.930000  48.137154  11.576124  muenchen
6   2017-07  18.161290  48.137154  11.576124  muenchen
7   2017-08  18.087097  48.137154  11.576124  muenchen
8   2017-09  11.653333  48.137154  11.576124  muenchen
9   2017-10   9.654839  48.137154  11.576124  muenchen
10  2017-11   3.723333  48.137154  11.576124  muenchen
11  2017-12   0.754839  48.137154  11.576124  muenchen
12  2018-01   3.703226  48.137154  11.576124  muenchen
13  2018-02  -2.921429  48.137154  11.576124  muenchen
14  2018-03   2.416129  48.137154  11.576124  muenchen
15  2018-04  11.460000  48.137154  11.576124  muenchen
16  2018-05  14.306452  48.137154  11.576124  muenchen
17  2018-06  16.830000  48.137154  11.576124  muenchen
18  2018-07  18.777419  48.137154  11.576124  muenchen
19  2018-08  18.970968  48.137154  11.576124  muenchen
20  2018-09  14.320000  48.137154  11.576124  muenchen
21  2018-10   9.148387  48.137154  11.576124  muenchen
22  2018-11   4.230000  48.137154  11.576124  muenchen
23  2018-12   2.480645  48.137154  11.576124  muenchen
24  2019-01  -1.051613  48.137154  11.576124  muenchen
25  2019-02   2.339286  48.137154  11.576124  muenchen
26  2019-03   5.290323  48.137154  11.576124  muenchen
27  2019-04   7.780000  48.137154  11.576124  muenchen
28  2019-05   9.477419  48.137154  11.576124  muenchen
29  2019-06  17.953333  48.137154  11.576124  muenchen
30  2019-07  19.016129  48.137154  11.576124  muenchen
31  2019-08  17.987097  48.137154  11.576124  muenchen
32  2019-09  13.486667  48.137154  11.576124  muenchen
33  2019-10  10.580645  48.137154  11.576124  muenchen
34  2019-11   3.813333  48.137154  11.576124  muenchen
35  2019-12   2.258065  48.137154  11.576124  muenchen
36  2020-01   1.619355  48.137154  11.576124  muenchen
37  2020-02   4.672414  48.137154  11.576124  muenchen
38  2020-03   4.190323  48.137154  11.576124  muenchen
39  2020-04  10.090000  48.137154  11.576124  muenchen
40  2020-05  11.432258  48.137154  11.576124  muenchen
41  2020-06  15.283333  48.137154  11.576124  muenchen
42  2020-07  18.129032  48.137154  11.576124  muenchen
43  2020-08  18.403226  48.137154  11.576124  muenchen
44  2020-09  14.380000  48.137154  11.576124  muenchen
45  2020-10   8.848387  48.137154  11.576124  muenchen
46  2020-11   5.180000  48.137154  11.576124  muenchen
47  2020-12   2.106452  48.137154  11.576124  muenchen
48  2021-01  -0.509677  48.137154  11.576124  muenchen
49  2021-02   2.603571  48.137154  11.576124  muenchen
50  2021-03   3.693548  48.137154  11.576124  muenchen
51  2021-04   5.166667  48.137154  11.576124  muenchen
52  2021-05   9.361290  48.137154  11.576124  muenchen
53  2021-06  17.750000  48.137154  11.576124  muenchen
54  2021-07  17.106452  48.137154  11.576124  muenchen
55  2021-08  15.767742  48.137154  11.576124  muenchen
56  2021-09  14.023333  48.137154  11.576124  muenchen
57  2021-10   8.190323  48.137154  11.576124  muenchen
58  2021-11   2.513333  48.137154  11.576124  muenchen
59  2021-12   2.267742  48.137154  11.576124  muenchen

##### Average sunhours for each month from 2017 until the end of 2021

In [119]:
# Groupby date and set it to a month period then get the avg. sunhours
weather_M_s = weather_M.groupby(pd.PeriodIndex(weather_F['time'], freq="M"))['tsun'].mean()

# put the series above in a dataframe
weather_M_sunh = pd.DataFrame(weather_M_s)

# reset the index
weather_M_sunh = weather_M_sunh.reset_index()

In [120]:
# Rename columns
weather_M_sunh.rename(columns = {"time":"date"}, inplace=True)

In [121]:
weather_M_sunh

       date        tsun
0   2017-01  180.387097
1   2017-02  203.571429
2   2017-03  346.838710
3   2017-04  364.000000
4   2017-05  404.387097
5   2017-06  530.533333
6   2017-07  395.387097
7   2017-08  404.774194
8   2017-09  249.533333
9   2017-10  269.322581
10  2017-11   94.900000
11  2017-12  103.967742
12  2018-01   97.258065
13  2018-02  185.035714
14  2018-03  215.354839
15  2018-04  503.933333
16  2018-05  370.354839
17  2018-06  487.566667
18  2018-07  505.903226
19  2018-08  496.354839
20  2018-09  462.166667
21  2018-10  312.258065
22  2018-11  183.900000
23  2018-12   73.838710
24  2019-01   58.451613
25  2019-02  372.321429
26  2019-03  318.903226
27  2019-04  314.866667
28  2019-05  337.806452
29  2019-06  564.766667
30  2019-07  532.387097
31  2019-08  453.258065
32  2019-09  384.200000
33  2019-10  200.580645
34  2019-11  106.333333
35  2019-12  174.935484
36  2020-01  219.516129
37  2020-02  223.965517
38  2020-03  361.387097
39  2020-04  614.466667
40  2020-05  492.612903
41  2020-06  369.266667
42  2020-07  571.096774
43  2020-08  437.903226
44  2020-09  419.266667
45  2020-10  165.322581
46  2020-11  264.566667
47  2020-12   68.806452
48  2021-01   97.612903
49  2021-02  303.178571
50  2021-03  339.225806
51  2021-04  429.066667
52  2021-05  348.096774
53  2021-06  491.166667
54  2021-07  399.129032
55  2021-08  322.774194
56  2021-09  423.066667
57  2021-10  321.032258
58  2021-11  132.066667
59  2021-12   83.677419

##### Count the monthly Raindays

In [122]:
# Filter the raindays and the not raindays
# Apply a function along an axis of the DataFrame
weather_M["rain_days"] = weather_M['prcp'].apply(lambda x: 'rainy_day' if x >= 2.5 else 'not_rainy_day')

In [123]:
# New variable with only the raindays
weather_M_rainy = weather_M[weather_M["rain_days"]=='rainy_day']

# Group all rain days based on month from 2017 until 2021 and count all these days in a month
weather_M_rainy = weather_M_rainy.groupby(pd.PeriodIndex(weather_M_rainy['time'], freq="M"))['rain_days'].value_counts()

# Put the new variable in a Dataframe
weather_M_rainy = pd.DataFrame(weather_M_rainy)

# drop the column level(s) - default is level=0 (We got here twice raindays but we only need the count raindays column so we drop the level= 0 column )
weather_M_rainy = weather_M_rainy.droplevel("rain_days")
weather_M_rainy = weather_M_rainy.reset_index()

In [124]:
# Rename columns
weather_M_rainy.rename(columns = {"time":"date"}, inplace=True)

In [125]:
# print all for test 
weather_M_rainy

       date  rain_days
0   2017-01          7
1   2017-02          4
2   2017-03          7
3   2017-04          6
4   2017-05         10
5   2017-06          7
6   2017-07         12
7   2017-08          8
8   2017-09          3
9   2017-10          5
10  2017-11          9
11  2017-12          8
12  2018-01         14
13  2018-02          2
14  2018-03          5
15  2018-04          3
16  2018-05          6
17  2018-06          6
18  2018-07          6
19  2018-08          6
20  2018-09          4
21  2018-10          3
22  2018-11          2
23  2018-12         12
24  2019-01         10
25  2019-02          3
26  2019-03          8
27  2019-04          9
28  2019-05         13
29  2019-06          8
30  2019-07          3
31  2019-08          7
32  2019-09          4
33  2019-10         13
34  2019-11          6
35  2019-12          7
36  2020-01          3
37  2020-02         14
38  2020-03          5
39  2020-04          2
40  2020-05          5
41  2020-06         11
42  2020-07          3
43  2020-08          8
44  2020-09          4
45  2020-10         11
46  2020-11          4
47  2020-12          7
48  2021-01          9
49  2021-02          5
50  2021-03          7
51  2021-04          4
52  2021-05         12
53  2021-06         13
54  2021-07         15
55  2021-08          9
56  2021-09          9
57  2021-10          5
58  2021-11          1
59  2021-12          8

In [126]:
# Filter the snowdays and the not snowdays
# Apply: Apply a function along an axis of the DataFrame.
weather_M["snow_days"] = weather_M['snow'].apply(lambda x: 'snow_day' if x > 0 else 'not_snow_day')

In [127]:
# New variable with only days with snow
weather_M_snowday = weather_M[weather_M["snow_days"]=='snow_day']

# Group all snowdays based on month from 2017 until 2021 and count all these days in a month
weather_M_snowday = weather_M_snowday.groupby(pd.PeriodIndex(weather_M_snowday['time'], freq="M"))['snow_days'].value_counts()

# Put the new variable in a Dataframe
weather_M_snowday = pd.DataFrame(weather_M_snowday)

# drop the column level(s) - default is level=0 (We got here twice raindays but we only need the count raindays column so we drop the level= 0 column )
weather_M_snowday = weather_M_snowday.droplevel("snow_days")
weather_M_snowday = weather_M_snowday.reset_index()

In [128]:
weather_M_snowday.rename(columns = {"time":"date"}, inplace=True)

In [129]:
# print for test
weather_M_snowday

       date  snow_days
0   2017-01         28
1   2017-02          2
2   2017-04          4
3   2017-11          4
4   2017-12         18
5   2018-01          5
6   2018-02         19
7   2018-03         12
8   2018-11          1
9   2018-12          5
10  2019-01         27
11  2019-02          9
12  2019-03          3
13  2019-04          1
14  2019-11          1
15  2019-12          1
16  2020-01          6
17  2020-02          5
18  2020-03          1
19  2020-12         10
20  2021-01         26
21  2021-02          6
22  2021-03          2
23  2021-04          2
24  2021-11          3
25  2021-12          2

##### Count the monthly Raindays

In [130]:
# Filter the raindays and the not raindays
# Apply a function along an axis of the DataFrame
weather_M["rain_days"] = weather_M['prcp'].apply(lambda x: 'rainy_day' if x >= 2.5 else 'not_rainy_day')

In [131]:
# New variable with only the raindays
weather_M_rainy = weather_M[weather_M["rain_days"]=='rainy_day']

# Group all rain days based on month from 2017 until 2021 and count all these days in a month
weather_M_rainy = weather_M_rainy.groupby(pd.PeriodIndex(weather_M_rainy['time'], freq="M"))['rain_days'].value_counts()

# Put the new variable in a Dataframe
weather_M_rainy = pd.DataFrame(weather_M_rainy)

# drop the column level(s) - default is level=0 (We got here twice raindays but we only need the count raindays column so we drop the level= 0 column )
weather_M_rainy = weather_M_rainy.droplevel("rain_days")
weather_M_rainy = weather_M_rainy.reset_index()

In [132]:
# Rename columns
weather_M_rainy.rename(columns = {"time":"date"}, inplace=True)

In [133]:
# print all for test 
weather_M_rainy

       date  rain_days
0   2017-01          7
1   2017-02          4
2   2017-03          7
3   2017-04          6
4   2017-05         10
5   2017-06          7
6   2017-07         12
7   2017-08          8
8   2017-09          3
9   2017-10          5
10  2017-11          9
11  2017-12          8
12  2018-01         14
13  2018-02          2
14  2018-03          5
15  2018-04          3
16  2018-05          6
17  2018-06          6
18  2018-07          6
19  2018-08          6
20  2018-09          4
21  2018-10          3
22  2018-11          2
23  2018-12         12
24  2019-01         10
25  2019-02          3
26  2019-03          8
27  2019-04          9
28  2019-05         13
29  2019-06          8
30  2019-07          3
31  2019-08          7
32  2019-09          4
33  2019-10         13
34  2019-11          6
35  2019-12          7
36  2020-01          3
37  2020-02         14
38  2020-03          5
39  2020-04          2
40  2020-05          5
41  2020-06         11
42  2020-07          3
43  2020-08          8
44  2020-09          4
45  2020-10         11
46  2020-11          4
47  2020-12          7
48  2021-01          9
49  2021-02          5
50  2021-03          7
51  2021-04          4
52  2021-05         12
53  2021-06         13
54  2021-07         15
55  2021-08          9
56  2021-09          9
57  2021-10          5
58  2021-11          1
59  2021-12          8

In [134]:
# New variable with only days without rain
weather_M_notrain = weather_M[weather_M["rain_days"]=='not_rainy_day']

# Group all not rain days based on month from 2017 until 2021 and count all these days in a month
weather_M_notrain = weather_M_notrain.groupby(pd.PeriodIndex(weather_M_notrain['time'], freq="M"))['rain_days'].value_counts()

# Put the new variable in a Dataframe
weather_M_notrain = pd.DataFrame(weather_M_notrain)

# drop the column level(s) - default is level=0 (We got here twice raindays but we only need the count raindays column so we drop the level= 0 column )
weather_M_notrain = weather_M_notrain.droplevel("rain_days")
weather_M_notrain = weather_M_notrain.reset_index()

In [135]:
# Rename columns
weather_M_notrain.rename(columns = {"time":"date","rain_days":"day_without_rain"}, inplace=True)

In [136]:
# print for test
weather_M_notrain

       date  day_without_rain
0   2017-01                24
1   2017-02                24
2   2017-03                24
3   2017-04                24
4   2017-05                21
5   2017-06                23
6   2017-07                19
7   2017-08                23
8   2017-09                27
9   2017-10                26
10  2017-11                21
11  2017-12                23
12  2018-01                17
13  2018-02                26
14  2018-03                26
15  2018-04                27
16  2018-05                25
17  2018-06                24
18  2018-07                25
19  2018-08                25
20  2018-09                26
21  2018-10                28
22  2018-11                28
23  2018-12                19
24  2019-01                21
25  2019-02                25
26  2019-03                23
27  2019-04                21
28  2019-05                18
29  2019-06                22
30  2019-07                28
31  2019-08                24
32  2019-09                26
33  2019-10                18
34  2019-11                24
35  2019-12                24
36  2020-01                28
37  2020-02                15
38  2020-03                26
39  2020-04                28
40  2020-05                26
41  2020-06                19
42  2020-07                28
43  2020-08                23
44  2020-09                26
45  2020-10                20
46  2020-11                26
47  2020-12                24
48  2021-01                22
49  2021-02                23
50  2021-03                24
51  2021-04                26
52  2021-05                19
53  2021-06                17
54  2021-07                16
55  2021-08                22
56  2021-09                21
57  2021-10                26
58  2021-11                29
59  2021-12                23

##### Count the monthly Snowdays

In [137]:
# Filter the snowdays and the not snowdays
# Apply: Apply a function along an axis of the DataFrame.
weather_M["snow_days"] = weather_M['snow'].apply(lambda x: 'snow_day' if x > 0 else 'not_snow_day')

In [138]:
# New variable with only days with snow
weather_M_snowday = weather_M[weather_M["snow_days"]=='snow_day']

# Group all snowdays based on month from 2017 until 2021 and count all these days in a month
weather_M_snowday = weather_M_snowday.groupby(pd.PeriodIndex(weather_M_snowday['time'], freq="M"))['snow_days'].value_counts()

# Put the new variable in a Dataframe
weather_M_snowday = pd.DataFrame(weather_M_snowday)

# drop the column level(s) - default is level=0 (We got here twice raindays but we only need the count raindays column so we drop the level= 0 column )
weather_M_snowday = weather_M_snowday.droplevel("snow_days")
weather_M_snowday = weather_M_snowday.reset_index()

In [139]:
weather_M_snowday.rename(columns = {"time":"date"}, inplace=True)

In [140]:
# print for test
weather_M_snowday

       date  snow_days
0   2017-01         28
1   2017-02          2
2   2017-04          4
3   2017-11          4
4   2017-12         18
5   2018-01          5
6   2018-02         19
7   2018-03         12
8   2018-11          1
9   2018-12          5
10  2019-01         27
11  2019-02          9
12  2019-03          3
13  2019-04          1
14  2019-11          1
15  2019-12          1
16  2020-01          6
17  2020-02          5
18  2020-03          1
19  2020-12         10
20  2021-01         26
21  2021-02          6
22  2021-03          2
23  2021-04          2
24  2021-11          3
25  2021-12          2

In [141]:
# New variable with only days with snow
weather_M_notsnowday = weather_M[weather_M["snow_days"]=='not_snow_day']

# Group all snowdays based on month from 2017 until 2021 and count all these days in a month
weather_M_notsnowday = weather_M_notsnowday.groupby(pd.PeriodIndex(weather_M_notsnowday['time'], freq="M"))['snow_days'].value_counts()

# Put the new variable in a Dataframe
weather_M_notsnowday = pd.DataFrame(weather_M_notsnowday)

# drop the column level(s) - default is level=0 (We got here twice raindays but we only need the count raindays column so we drop the level= 0 column )
weather_M_notsnowday = weather_M_notsnowday.droplevel("snow_days")
weather_M_notsnowday = weather_M_notsnowday.reset_index()

In [142]:
weather_M_notsnowday.rename(columns = {"time":"date","snow_days":"days_without_snow"}, inplace=True)

In [143]:
# print for test
weather_M_notsnowday

       date  days_without_snow
0   2017-01                  3
1   2017-02                 26
2   2017-03                 31
3   2017-04                 26
4   2017-05                 31
5   2017-06                 30
6   2017-07                 31
7   2017-08                 31
8   2017-09                 30
9   2017-10                 31
10  2017-11                 26
11  2017-12                 13
12  2018-01                 26
13  2018-02                  9
14  2018-03                 19
15  2018-04                 30
16  2018-05                 31
17  2018-06                 30
18  2018-07                 31
19  2018-08                 31
20  2018-09                 30
21  2018-10                 31
22  2018-11                 29
23  2018-12                 26
24  2019-01                  4
25  2019-02                 19
26  2019-03                 28
27  2019-04                 29
28  2019-05                 31
29  2019-06                 30
30  2019-07                 31
31  2019-08                 31
32  2019-09                 30
33  2019-10                 31
34  2019-11                 29
35  2019-12                 30
36  2020-01                 25
37  2020-02                 24
38  2020-03                 30
39  2020-04                 30
40  2020-05                 31
41  2020-06                 30
42  2020-07                 31
43  2020-08                 31
44  2020-09                 30
45  2020-10                 31
46  2020-11                 30
47  2020-12                 21
48  2021-01                  5
49  2021-02                 22
50  2021-03                 29
51  2021-04                 28
52  2021-05                 31
53  2021-06                 30
54  2021-07                 31
55  2021-08                 31
56  2021-09                 30
57  2021-10                 31
58  2021-11                 27
59  2021-12                 29

##### Merge all tables together

In [144]:
#merge all tables on date
df_weather_M = weather_M_temp.merge(weather_M_sunh, how='left' , on='date').merge(weather_M_rainy,how='left', on='date').merge(weather_M_notrain,how='left', on='date').merge(weather_M_snowday,how='left',on="date").merge(weather_M_notsnowday,how='left',on='date')

##### Last cleaning of the table

In [145]:
# Change the order
df_weather_M = df_weather_M[["date","tavg","tsun","rain_days","day_without_rain","snow_days","days_without_snow","city","lat","lon"]]

In [146]:
# clean the raindays column
# fill all nan with 0 to show that months on which the event did not take place are 0 
df_weather_M["rain_days"] = df_weather_M["rain_days"].fillna(0)

# Change it to an int
df_weather_M["rain_days"] = df_weather_M["rain_days"].astype('int')

# clean the snowdays column
# fill all nan with 0 to show that months on which the event did not take place are 0 
df_weather_M["snow_days"] = df_weather_M["snow_days"].fillna(0)

# Change it to an integer
df_weather_M["snow_days"] = df_weather_M["snow_days"].astype('int')

In [147]:
# To change the date from a period[M] to a datetime64[ns] 
df_weather_M = df_weather_M.set_index("date").to_timestamp().reset_index()

In [148]:
# Check if everything fits now
display(df_weather_M.info())
display(df_weather_M)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               60 non-null     datetime64[ns]
 1   tavg               60 non-null     float64
 2   tsun               60 non-null     float64
 3   rain_days          60 non-null     int64
 4   day_without_rain   60 non-null     int64
 5   snow_days          60 non-null     int64
 6   days_without_snow  60 non-null     int64
 7   city               60 non-null     object
 8   lat                60 non-null     float64
 9   lon                60 non-null     float64
dtypes: datetime64[ns](1), float64(4), int64(4), object(1)
memory usage: 4.8+ KB

None

,date,tavg,tsun,rain_days,day_without_rain,snow_days,days_without_snow,city,lat,lon
0,2017-01-01,-4.554839,180.387097,7,24,28,3,muenchen,48.137154,11.576124
1,2017-02-01,2.900000,203.571429,4,24,2,26,muenchen,48.137154,11.576124
2,2017-03-01,6.458065,346.838710,7,24,0,31,muenchen,48.137154,11.576124
3,2017-04-01,6.610000,364.000000,6,24,4,26,muenchen,48.137154,11.576124
4,2017-05-01,12.845161,404.387097,10,21,0,31,muenchen,48.137154,11.576124
5,2017-06-01,17.930000,530.533333,7,23,0,30,muenchen,48.137154,11.576124
6,2017-07-01,18.161290,395.387097,12,19,0,31,muenchen,48.137154,11.576124
7,2017-08-01,18.087097,404.774194,8,23,0,31,muenchen,48.137154,11.576124
8,2017-09-01,11.653333,249.533333,3,27,0,30,muenchen,48.137154,11.576124
9,2017-10-01,9.654839,269.322581,5,26,0,31,muenchen,48.137154,11.576124
10,2017-11-01,3.723333,94.900000,9,21,4,26,muenchen,48.137154,11.576124
11,2017-12-01,0.754839,103.967742,8,23,18,13,muenchen,48.137154,11.576124
12,2018-01-01,3.703226,97.258065,14,17,5,26,muenchen,48.137154,11.576124
13,2018-02-01,-2.921429,185.035714,2,26,19,9,muenchen,48.137154,11.576124
14,2018-03-01,2.416129,215.354839,5,26,12,19,muenchen,48.137154,11.576124
15,2018-04-01,11.460000,503.933333,3,27,0,30,muenchen,48.137154,11.576124
16,2018-05-01,14.306452,370.354839,6,25,0,31,muenchen,48.137154,11.576124
17,2018-06-01,16.830000,487.566667,6,24,0,30,muenchen,48.137154,11.576124
18,2018-07-01,18.777419,505.903226,6,25,0,31,muenchen,48.137154,11.576124
19,2018-08-01,18.970968,496.354839,6,25,0,31,muenchen,48.137154,11.576124
20,2018-09-01,14.320000,462.166667,4,26,0,30,muenchen,48.137154,11.576124
21,2018-10-01,9.148387,312.258065,3,28,0,31,muenchen,48.137154,11.576124
22,2018-11-01,4.230000,183.900000,2,28,1,29,muenchen,48.137154,11.576124
23,2018-12-01,2.480645,73.838710,12,19,5,26,muenchen,48.137154,11.576124
24,2019-01-01,-1.051613,58.451613,10,21,27,4,muenchen,48.137154,11.576124
25,2019-02-01,2.339286,372.321429,3,25,9,19,muenchen,48.137154,11.576124
26,2019-03-01,5.290323,318.903226,8,23,3,28,muenchen,48.137154,11.576124
27,2019-04-01,7.780000,314.866667,9,21,1,29,muenchen,48.137154,11.576124
28,2019-05-01,9.477419,337.806452,13,18,0,31,muenchen,48.137154,11.576124
29,2019-06-01,17.953333,564.766667,8,22,0,30,muenchen,48.137154,11.576124
30,2019-07-01,19.016129,532.387097,3,28,0,31,muenchen,48.137154,11.576124
31,2019-08-01,17.987097,453.258065,7,24,0,31,muenchen,48.137154,11.576124
32,2019-09-01,13.486667,384.200000,4,26,0,30,muenchen,48.137154,11.576124
33,2019-10-01,10.580645,200.580645,13,18,0,31,muenchen,48.137154,11.576124
34,2019-11-01,3.813333,106.333333,6,24,1,29,muenchen,48.137154,11.576124
35,2019-12-01,2.258065,174.935484,7,24,1,30,muenchen,48.137154,11.576124
36,2020-01-01,1.619355,219.516129,3,28,6,25,muenchen,48.137154,11.576124
37,2020-02-01,4.672414,223.965517,14,15,5,24,muenchen,48.137154,11.576124
38,2020-03-01,4.190323,361.387097,5,26,1,30,muenchen,48.137154,11.576124
39,2020-04-01,10.090000,614.466667,2,28,0,30,muenchen,48.137154,11.576124
40,2020-05-01,11.432258,492.612903,5,26,0,31,muenchen,48.137154,11.576124
41,2020-06-01,15.283333,369.266667,11,19,0,30,muenchen,48.137154,11.576124
42,2020-07-01,18.129032,571.096774,3,28,0,31,muenchen,48.137154,11.576124
43,2020-08-01,18.403226,437.903226,8,23,0,31,muenchen,48.137154,11.576124
44,2020-09-01,14.380000,419.266667,4,26,0,30,muenchen,48.137154,11.576124
45,2020-10-01,8.848387,165.322581,11,20,0,31,muenchen,48.137154,11.576124
46,2020-11-01,5.180000,264.566667,4,26,0,30,muenchen,48.137154,11.576124
47,2020-12-01,2.106452,68.806452,7,24,10,21,muenchen,48.137154,11.576124
48,2021-01-01,-0.509677,97.612903,9,22,26,5,muenchen,48.137154,11.576124
49,2021-02-01,2.603571,303.178571,5,23,6,22,muenchen,48.137154,11.576124
50,2021-03-01,3.693548,339.225806,7,24,2,29,muenchen,48.137154,11.576124
51,2021-04-01,5.166667,429.066667,4,26,2,28,muenchen,48.137154,11.576124
52,2021-05-01,9.361290,348.096774,12,19,0,31,muenchen,48.137154,11.576124
53,2021-06-01,17.750000,491.166667,13,17,0,30,muenchen,48.137154,11.576124
54,2021-07-01,17.106452,399.129032,15,16,0,31,muenchen,48.137154,11.576124
55,2021-08-01,15.767742,322.774194,9,22,0,31,muenchen,48.137154,11.576124
56,2021-09-01,14.023333,423.066667,9,21,0,30,muenchen,48.137154,11.576124
57,2021-10-01,8.190323,321.032258,5,26,0,31,muenchen,48.137154,11.576124
58,2021-11-01,2.513333,132.066667,1,29,3,27,muenchen,48.137154,11.576124
59,2021-12-01,2.267742,83.677419,8,23,2,29,muenchen,48.137154,11.576124

#### Push the prepared data to a table in the database

In [149]:
# Specify which table within your database you want to push your data to. Give your table an unambiguous name.
table_name = 'df_weather_M_test_JB'
schema = 'muc_analytics_21_1'
# If the specified table doesn't exist yet, it will be created
# With 'replace', your data will be replaced if the table already exists.
# This will take a minute or two...

# Write records stored in a dataframe to SQL database
if engine!=None:
    try:
        df_weather_M.to_sql(name=table_name, # Name of SQL table
                        con=engine, # Engine or connection
                        if_exists='replace', # Drop the table before inserting new values 
                        schema=schema, # Use schmea that was defined earlier
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_name} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None

The df_weather_M_test_JB table was imported successfully.

## Union all df_weather for the 5 Cities DataFrames using Concat

In [150]:
# Union all weather tables
df_weather_city = pd.concat([df_weather_HH, df_weather_B, df_weather_K, df_weather_F, df_weather_M])

In [151]:
# print for test
df_weather_city

,date,tavg,tsun,rain_days,day_without_rain,snow_days,days_without_snow,city,lat,lon
0,2017-01-01,0.512903,118.645161,5,26,3,28,hamburg,53.550556,9.993333
1,2017-02-01,2.753571,110.357143,6,22,0,28,hamburg,53.550556,9.993333
2,2017-03-01,7.135484,260.129032,8,23,0,31,hamburg,53.550556,9.993333
3,2017-04-01,7.436667,305.600000,7,23,0,30,hamburg,53.550556,9.993333
4,2017-05-01,13.922581,407.645161,8,23,0,31,hamburg,53.550556,9.993333
...,...,...,...,...,...,...,...,...,...,...
55,2021-08-01,15.767742,322.774194,9,22,0,31,muenchen,48.137154,11.576124
56,2021-09-01,14.023333,423.066667,9,21,0,30,muenchen,48.137154,11.576124
57,2021-10-01,8.190323,321.032258,5,26,0,31,muenchen,48.137154,11.576124
58,2021-11-01,2.513333,132.066667,1,29,3,27,muenchen,48.137154,11.576124
59,2021-12-01,2.267742,83.677419,8,23,2,29,muenchen,48.137154,11.576124

### To csv file

In [152]:
# Export to csv
df_weather_city.to_csv('/Users/evo/Documents/neue_fische/capstone_final/csv/weather_city.csv', index=False)

### Push the prepared data to a table in the database

In [153]:
# Specify which table within your database you want to push your data to. Give your table an unambiguous name.
table_name = 'df_weather_city'
schema = 'muc_analytics_21_1'
# If the specified table doesn't exist yet, it will be created
# With 'replace', your data will be replaced if the table already exists.
# This will take a minute or two...

# Write records stored in a dataframe to SQL database
if engine!=None:
    try:
        df_weather_city.to_sql(name=table_name, # Name of SQL table
                        con=engine, # Engine or connection
                        if_exists='replace', # Drop the table before inserting new values 
                        schema=schema, # Use schmea that was defined earlier
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_name} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None

The df_weather_city table was imported successfully.